//
// CUSTOM THEME WEBFONTS


//
// BREE SERIF
// Styles: Regular

@font-face {
  font-family: 'BreeSerif';
  src: url('/packages/pathable-global-styles/fonts/BreeSerif/BreeSerif-Regular.eot');
  src: url('/packages/pathable-global-styles/fonts/BreeSerif/BreeSerif-Regular.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/BreeSerif/BreeSerif-Regular.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/BreeSerif/BreeSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


//
// INDIE FLOWER
// Styles: Regular

@font-face {
  font-family: 'IndieFlower';
  src: url('/packages/pathable-global-styles/fonts/IndieFlower/IndieFlower.eot');
  src: url('/packages/pathable-global-styles/fonts/IndieFlower/IndieFlower.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/IndieFlower/IndieFlower.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/IndieFlower/IndieFlower.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


//
// LOBSTER
// Styles: Regular

@font-face {
  font-family: 'Lobster';
  src: url('/packages/pathable-global-styles/fonts/Lobster/Lobster-Regular.eot');
  src: url('/packages/pathable-global-styles/fonts/Lobster/Lobster-Regular.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/Lobster/Lobster-Regular.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/Lobster/Lobster-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


//
// MONTSERRAT
// Styles: Regular, Bold

@font-face {
  font-family: 'Montserrat';
  src: url('/packages/pathable-global-styles/fonts/Montserrat/Montserrat-Regular.eot');
  src: url('/packages/pathable-global-styles/fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/packages/pathable-global-styles/fonts/Montserrat/Montserrat-Bold.eot');
  src: url('/packages/pathable-global-styles/fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


//
// OPEN SANS
// Styles: Light, Regular, Semibold, Bold

@font-face {
  font-family: 'OpenSans';
  src: url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans-Light.eot');
  src: url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans-Light.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans.eot');
  src: url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans-Semibold.eot');
  src: url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans-Semibold.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans-Bold.eot');
  src: url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


//
// OSWALD
// Styles: Light, Regular, Bold

@font-face {
  font-family: 'Oswald';
  src: url('/packages/pathable-global-styles/fonts/Oswald/Oswald-Light.eot');
  src: url('/packages/pathable-global-styles/fonts/Oswald/Oswald-Light.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/Oswald/Oswald-Light.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/Oswald/Oswald-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/packages/pathable-global-styles/fonts/Oswald/Oswald-Regular.eot');
  src: url('/packages/pathable-global-styles/fonts/Oswald/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/Oswald/Oswald-Regular.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/packages/pathable-global-styles/fonts/Oswald/Oswald-Bold.eot');
  src: url('/packages/pathable-global-styles/fonts/Oswald/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/Oswald/Oswald-Bold.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/Oswald/Oswald-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


//
// PLAYFAIR DISPLAY
// Styles: Regular, Bold

@font-face {
  font-family: 'Playfair Display';
  src: url('/packages/pathable-global-styles/fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot');
  src: url('/packages/pathable-global-styles/fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/packages/pathable-global-styles/fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot');
  src: url('/packages/pathable-global-styles/fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


//
// PT SANS
// Styles: Regular, Bold

@font-face {
  font-family: 'PTSans';
  src: url('/packages/pathable-global-styles/fonts/PTSans/PTSans-Regular.eot');
  src: url('/packages/pathable-global-styles/fonts/PTSans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/PTSans/PTSans-Regular.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/PTSans/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('/packages/pathable-global-styles/fonts/PTSans/PTSans-Bold.eot');
  src: url('/packages/pathable-global-styles/fonts/PTSans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/PTSans/PTSans-Bold.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/PTSans/PTSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


//
// PT SERIF
// Styles: Regular, Bold

@font-face {
  font-family: 'PTSerif';
  src: url('/packages/pathable-global-styles/fonts/PTSerif/PTSerif-Regular.eot');
  src: url('/packages/pathable-global-styles/fonts/PTSerif/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/PTSerif/PTSerif-Regular.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/PTSerif/PTSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif';
  src: url('/packages/pathable-global-styles/fonts/PTSerif/PTSerif-Bold.eot');
  src: url('/packages/pathable-global-styles/fonts/PTSerif/PTSerif-Bold.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/PTSerif/PTSerif-Bold.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/PTSerif/PTSerif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


//
// ROBOTO
// Styles: Light, Regular, Semibold, Bold

@font-face {
  font-family: 'Roboto';
  src: url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Light.eot');
  src: url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Light.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Regular.eot');
  src: url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Medium.eot');
  src: url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Medium.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Bold.eot');
  src: url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


//
// ROBOTO SLAB
// Styles: Light, Regular, Bold

@font-face {
  font-family: 'Roboto Slab';
  src: url('/packages/pathable-global-styles/fonts/RobotoSlab/RobotoSlab-Light.eot');
  src: url('/packages/pathable-global-styles/fonts/RobotoSlab/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/RobotoSlab/RobotoSlab-Light.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/RobotoSlab/RobotoSlab-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('/packages/pathable-global-styles/fonts/RobotoSlab/RobotoSlab-Regular.eot');
  src: url('/packages/pathable-global-styles/fonts/RobotoSlab/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/RobotoSlab/RobotoSlab-Regular.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/RobotoSlab/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('/packages/pathable-global-styles/fonts/RobotoSlab/RobotoSlab-Bold.eot');
  src: url('/packages/pathable-global-styles/fonts/RobotoSlab/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/RobotoSlab/RobotoSlab-Bold.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/RobotoSlab/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


//
// TITILLIUM WEB
// Styles: Light, Regular, Semibold, Bold

@font-face {
  font-family: 'Titillium';
  src: url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-Light.eot');
  src: url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-Light.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-Regular.eot');
  src: url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-Regular.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-SemiBold.eot');
  src: url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-SemiBold.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-Bold.eot');
  src: url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-Bold.woff') format('woff'),
    url('/packages/pathable-global-styles/fonts/TitilliumWeb/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}