//
// AGENDA
.agenda-wrapper {
  @media screen and (min-width: 1px) {
    height: 85%;
  }
}
.agenda {
  background: $slate-light2;
  @include pie-clearfix;
  &.admin {
    .meeting {
      height: 50px;
      line-height: 30px;
      overflow: hidden;
      @media screen and (max-width: 500px) {
        flex-flow: row wrap;
        // height: 80px;
        margin-bottom: 1px;
        // padding: 10px 10px 10px 60px;
        position: relative;
        @include box-sizing(border-box);
      }
      .track {
        box-sizing: border-box;
        flex: 0 0 4%;
        margin-top: 10px;
        order: 1;
        a {
          background: $red;
          display: block;
          height: 10px;
          width: 10px;
          @include border-radius(50%);
        }
        span {
          display: none;
        }
        @media screen and (max-width: 500px) {
          left: 20px;
          order: 2;
          position: absolute;
          top: 10px;
          a {
            height: 10px;
            padding: 0;
            width: 10px;
            @include border-radius(50%);
            span {
              display: none;
            }
          }
        }
      }
      .time {
        flex: 0 0 7%;
        order: 2;

        // @media screen and (max-width: 500px) {
        //   bottom: 10px;
        //   left: 10px;
        //   order: 1;
        //   position: absolute;
        //   span {
        //     display: block;
        //     font-size: 11px;
        //     line-height: 15px;
        //   }
        // }
        @media screen and (min-width: 1px) {
          flex: 0 0 15%;
        }
      }
      .title {
        flex: 1 1 30%;
        // max-width: 40%;
        order: 3;
        h2 { font-size: 12px; padding-right: 20px; margin-bottom: 0; line-height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
        @media screen and (max-width: 500px) {
          // flex: 0 0 100%;
          // max-width: 100%;
        }
      }
      .description {
        order: 4;
        display: none;
      }
      .people {
        line-height: 30px;
        margin-top: 5px;
        order: 5;
        a {
          margin-right: 0;
        }
        img {
          margin-right: 3px;
        }
        span {
          display: none;
        }
        @media screen and (max-width: 500px) {
          flex: 0 0 100%;
        }
      }
      .location { font-size: 11px; line-height: 15px; order: 6; span { white-space: normal; } }
      .track-name { font-size: 11px; line-height: 30px; order: 7; }
      .registered { font-size: 11px; line-height: 30px; order: 8; }
      .updated { font-size: 11px; line-height: 30px; order: 9; span { white-space: nowrap; } }
      .attachment { line-height: 30px; order: 10; flex: 0 0 20px; }
      .actions { order: 11; display: none; }

    }
  }
  &.attendee {
    .meeting {
      flex-flow: row wrap;
      height: 170px;
      padding-top: 40px;
      padding-right: 60px;
      padding-bottom: 15px;
      position: relative;
      @include box-sizing(border-box);
      @media screen and (max-width: 500px) {
        height: 80px;
        margin-bottom: 1px;
        padding: 10px 40px;
      }
      @media screen and (min-width: 800px) and (max-width: 1200px) {
        float: left;
        margin-right: 0.5%;
        width: 49.5%;
        &:nth-of-type(2n) {
          margin-right: 0;
          width: 50%;
        }
      }
      @media screen and (min-width: 1201px) {
        float: left;
        margin-right: 0.333%;
        width: 33%;
        &:nth-of-type(3n) {
          margin-right: 0;
          width: 33.333%;
        }
      }
      .track {
        order: 1;
        position: absolute;
        left: 0;
        top: 0;
        a {
          background: $blue;
          color: $white;
          display: block;
          font-size: 10px;
          font-weight: 600;
          letter-spacing: 0.5px;
          line-height: 20px;
          padding: 0 10px;
          text-align: center;
          text-transform: uppercase;
        }
        @media screen and (max-width: 500px) {
          left: 15px;
          margin-top: -5px;
          top: 50%;
          a {
            height: 10px;
            padding: 0;
            width: 10px;
            @include border-radius(50%);
            span {
              display: none;
            }
          }
        }
      }
      .time { order: 3; display: none; }
      .title {
        order: 4; flex: 1 1 100%;
        @media screen and (max-width: 500px) {
          h2 {
            font-size: 14px;
            margin-bottom: 5px;
          }
        }
      }
      .description {
        order: 5;
        flex: 1 1 100%;
        p {
          max-width: 500px;
          white-space: normal;
        }
        @media screen and (max-width: 500px) {
          display: none;
        }
      }
      .people {
        order: 6; line-height: 20px; flex: 1 1 auto; line-height: 30px;
        @media screen and (max-width: 500px) {
          display: none;
        }
      }
      .location { order: 7; flex: 1 1 auto; line-height: 30px;}
      .track-name { order: 2; display: none; }
      .registered { order: 8; display: none; }
      .updated { order: 9; display: none; }
      .attachment { order: 10; display: none;}
      .actions { order: 11; position: absolute; right: 0; height: 100%; width: 50px; top: 0; a {@include center;}}
      &.featured {
        background: lighten($blue, 50%);
        box-shadow: rgba($blue, 0.5) 1px 1px 0;
        .title {
          h2 {
            height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .people {
          @media screen and (max-width: 500px) {
            display: inline-block;
          }
        }
      }
    }
  }
  &.no-picker {
    padding-top: 50px;
    @media screen and (max-width: 500px) {
      padding-top: 0;
    }
  }
  .listing {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    overflow: auto;
    @include pie-clearfix;
    @include box-sizing(border-box);
    @media screen and (max-width: 500px) {
      padding-bottom: 50px;
    }
    @media screen and (min-width: 501px) {
      padding: 0 20px 20px;
    }
  }
  .dayband {
    clear: both;
    color: $slate;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    + .timeband {
      height: 20px;
      line-height: 10px;
      padding-bottom: 10px;
    }
  }
  .timeband {
    clear: both;
    color: $slate + #111;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-align: center;
  }

  //////
  .meeting {
    background: #fff;
    box-shadow: (rgba($slate, 0.1) 1px 1px 0);
    display: flex;
    font-size: 12px;
    margin-bottom: 6px;
    padding: 10px 10px 10px 20px;
    width: 100%;
    @include border-radius(2px);
    @include box-sizing(border-box);
    > * {
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      flex-basis: 0;
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0px;
      white-space: nowrap;
      @include box-sizing(border-box);
      &:last-child {
        padding-right: 0;
      }
    }
    .track {

    }
    .time {
      flex: 1 1 50px;
      flex-flow: column nowrap;
      @include box-sizing(border-box);
      span {
        line-height: 30px;
      }
      .start {
        color: #444;
        font-weight: 600;
      }
      .end {
        color: #bbb;
      }
    }
    .title {
      // flex-grow: 5;
      h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
        padding-right: 20px;
      }
    }
    .description {
      p {
        color: #999;
        font-size: 12px;
        height: 36px;
        line-height: 18px;
        margin-bottom: 10px;
        max-width: 500px;
        overflow: hidden;
        padding-right: 20px;
        text-overflow: ellipsis;
      }
    }
    .people {
      // flex-grow: 1;
      white-space: nowrap;
    }
    .speaker {
      color: #999;
      display: inline-block;
      margin-right: 10px;
      white-space: nowrap;
      img {
        display: inline;
        float: left;
        height: 20px;
        margin-right: 7px;
        object-fit: cover;
        width: 20px;
        @include border-radius(50%);
      }
      span {}
      &:last-of-type {
        margin-right: 0;
      }
    }
    .location {
      color: rgba($slate, 0.5);
      line-height: 20px;
      span {
        align-items: center;
        display: inline-flex;
        white-space: nowrap;
      }
      i {
        font-size: 14px;
        margin-right: 3px;
      }
    }
    .track-name {
      color: #999;
      line-height: 20px;
      white-space: nowrap;
      span {}
    }
    .registered {
      color: #999;
      line-height: 20px;
      span {
        align-items: center;
        display: inline-flex;
      }
      i {
        font-size: 16px;
        margin-right: 6px;
      }
    }
    .updated {
      color: #999;
      line-height: 20px;
      span {}
    }
    .attachment {
      color: #999;
      line-height: 20px;
      span {}
    }
    .actions {
      display: inherit;
      a {
        display: block;
      }
      i {
        background: $green;
        color: $white;
        display: block;
        font-size: 16px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: 30px;
        @include border-radius(2px);
      }
    }
  }
}
