//
// Agenda toolbar and sliding panes

.agenda,
.flexlist {
  .toolbar {
    background: rgba($slate, 1);
    position: relative;
    z-index: 2;
    @include border-top-radius(2px);
    @include box-sizing(border-box);
    @include pie-clearfix;
    @media screen and (min-width: 501px) {
      height: 50px;
      top: 0;
      left: 0;
      padding: 10px;
      position: absolute;
      right: 0;
      width: 100%;
      z-index: 2;
    }
    @media screen and (max-width: 500px) {
      bottom: 0;
      left: 0;
      min-height: 50px;
      position: fixed;
      right: 0;
      width: 100%;
    }
  }
  .tracks {
    .main-track {
      &:before {
        background: $blue;
        content: '';
        display: block;
        height: 10px;
        width: 10px;
        @include border-radius(50%);
      }
    }
    ul a {
      padding-left: 30px;
      position: relative;
      &:before {
        background: $blue;
        content: '';
        display: block;
        height: 10px;
        left: 10px;
        position: absolute;
        top: 13px;
        width: 10px;
        @include border-radius(50%);
      }
    }
    &:hover,
    &:focus {
      .pane-toggle {
        background: $slate - #111;
      }
    }
  }
  .editing {
    float: left;
    margin-right: 10px;
    ul a {
      padding-left: 10px;
      position: relative;
    }
    &:hover,
    &:focus {
      .pane-toggle {
        background: $slate - #111;
      }
    }
    .pane {
      @media screen and (min-width: 501px) {
        &.left {
          ul a {
            padding-left: 15px;
          }
        }
      }
    }
    input {
      margin: 0;
    }
  }
  .editing-actions {
    float: left;
    margin-right: 10px;
    ul {
      @include pie-clearfix;
    }
    li {
      display: inline-block;
      float: left;
      margin-right: 5px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    a {
      background: rgba(0, 0, 0, 0.1);
      box-shadow: rgba(0, 0, 0, 0.1) -1px -1px 0 inset;
      color: $white;
      cursor: pointer;
      display: block;
      line-height: 30px;
      height: 30px;
      text-align: center;
      width: 30px;
      @include border-radius(2px);
    }
  }
  .switch {
    float: left;
    @media screen and (max-width: 500px) {
      float: none;
      left: 50%;
      position: absolute;
      top: 10px;
      transform: translate(-50%, 0);
    }
    a {
      background: rgba(0, 0, 0, 0.1);
      box-shadow: (rgba(0, 0, 0, 0.1) -1px -1px 0 inset);
      color: $slate-light2;
      display: inline-block;
      font-weight: 300;
      letter-spacing: 0.25px;
      line-height: 30px;
      white-space: nowrap;
      @include border-radius(2px);
      span {
        display: inline-block;
        padding: 0 15px;
      }
      .active {
        background: $orange;
        color: $white;
        font-weight: 500;
        @include border-radius(2px);
        @include text-shadow(rgba(0,0,0,0.1) 1px 1px 1px);
      }
      &:hover,
      &:focus {
        background: $slate - #111;
        color: $white;
      }
    }
  }
  .search {
    float: right;
    margin-right: 10px;
    position: relative;
    &:hover,
    &:focus {
      .input {
        background: $slate - #111;
        color: $slate;
      }
    }
    @media screen and (max-width: 500px) {
      // display: none;
      position: absolute;
      right: 40px;
      top: 10px;
    }
    .input {
      background: rgba(0, 0, 0, 0.1);
      border: none;
      box-shadow: rgba(0, 0, 0, 0.1) -1px -1px 0 inset;
      color: $white;
      height: 30px;
      padding-left: 30px;
      width: 100%;
      @include border-radius(2px);
      @include box-sizing(border-box);
      &:focus {
        background: $slate - #111;
      }
    }
    i {
      color: $slate-light;
      display: block;
      height: 30px;
      left: 0;
      line-height: 30px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 30px;
    }
  }
  .sorting {
    a {
      color: $white;
      display: block;
      line-height: 12px;
      white-space: nowrap;
      i {
        line-height: 10px;
      }
    }
    ul a {
      line-height: 35px;
      padding: 0 10px;
    }
  }
}
.pane {
  display: none;
  padding-top: 10px;
  @media screen and (min-width: 501px) {
    position: absolute;
    top: 40px;
    width: 240px;
    &.left {
      left: 10px;
      ul a {
        padding-left: 30px;
      }
    }
    &.right {
      right: 10px;
    }
  }
  ul {
    background: $slate - #111;
    color: $white;
    @include pie-clearfix;
  }
  li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    position: relative;
    &:last-child {
      margin-bottom: 0;
      border: none;
    }
    > i {
      display: inline-block;
      float: right;
      line-height: 34px;
      margin-right: 20px;
      position: absolute;
      right: 20px;
      top: 0;
    }
  }
  ul a {
    color: $white;
    display: block;
    font-size: 11px;
    line-height: 36px;
    padding: 0 20px 0 10px;
    position: relative;
    text-align: left;
    &:hover {
      background: rgba(0, 0, 0, 0.07);
      color: $orange;
    }
    &:before {
      margin-right: 5px;
    }
    &:after {
      color: rgba(255, 255, 255, 0.3);
      content: '\e95b';
      font-family: linearicons;
      font-size: 12px;
      position: absolute;
      right: 10px;
      top: 0;
    }
    &.checked {
      &:after {
        color: rgba($white, 0.6);
        content: '\e959';
      }
    }
    i {
      color: rgba($white, 0.6);
      font-size: 13px;
      margin-right: 8px;
      position: relative;
      top: 2px;
      &.direction {
        display: inline-block;
        float: right;
        line-height: 34px;
        margin-right: 20px;
      }
    }
  }
  .selected {
    color: rgba($white, 0.5);
    font-size: 10px;
    padding: 0 10px 5px 30px;
    text-align: left;
    img {
      display: inline-block;
      float: left;
      height: 15px;
      margin-right: 10px;
      object-fit: cover;
      width: 15px;
      @include border-radius(50%);
    }
    .remove {
      float: right;
    }
  }
  .buttons {
    background: $slate - #191919;
    padding: 10px;
    @include pie-clearfix;
    .button {
      // padding: 6px 15px;
      &.button--light {
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: $white;
      }
    }
  }
  .back {
    background: $slate - #191919;
    color: rgba($white, 0.5);
    font-size: 10px;
    letter-spacing: 0.5px;
    padding: 7px 10px;
    text-align: left;
    text-transform: uppercase;
    i {
      margin-right: 5px;
    }
  }
  &.expanded {
    display: block;
    @media screen and (max-width: 500px) {
      padding-top: 50px;
      width: 100%;
      ul {
        max-height: 200px;
        min-height: 100px;
        overflow: auto;
      }
    }
  }
}

.pane-toggle {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) -1px -1px 0 inset;
  color: $white;
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 12px;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  width: 30px;
  @include border-radius(2px);
  @include box-sizing(border-box);
  i {
    line-height: 10px;
  }
  &:hover,
  &:focus {
    background: $slate - #111;
    .main-track {
      @include border-bottom-radius(0);
    }
  }

  @media screen and (max-width: 500px) {
    position: absolute;
    .sorting & {
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .tracks & {
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }
  @media screen and (min-width: 501px) {
    .tracks & {
      float: left;
      margin-right: 10px;
    }
    .sorting & {
      float: right;
    }
  }
}
.triangle {
  @media screen and (min-width: 501px) {
    &:after {
      border: solid transparent;
      content: ' ';
      height: 0;
      top: -4px;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: $slate - #111;
      border-width: 7px;
      margin-left: -7px;
    }
    &.left {
      &:after {
        left: 15px;
      }
    }
    &.right {
      &:after {
        right: 7px;
      }
    }
  }
}
.dayswitcher {
  background: rgba($slate, 0.9);
  @include border-bottom-radius(2px);
  @media screen and (min-width: 501px) {
    height: 36px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50px;
    width: 100%;
    z-index: 1;
  }
  @media screen and (max-width: 500px) {
    height: 36px;
    top: 0;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
  }
  ul {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  li {
    display: table-cell;
    height: 36px;
    line-height: 36px;
    text-align: center;
    vertical-align: top;
  }
  a {
    color: $slate-light2;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 300;
    height: 46px;
    line-height: 0.9;
    padding: 10px 0;
    @include box-sizing(border-box);
    &:hover,
    &:focus {
      background: $slate;
      color: $orange;
    }
    &.active {
      color: $orange;
      background: $slate;
      font-size: 15px;
      @include text-shadow(rgba(0,0,0,0.1) 1px 1px 1px);
      span {
        font-weight: 500;
      }
      small {
        color: $white;
        font-weight: 400;
        opacity: 0.9;
      }
    }
    span {
      display: block;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    small {
      color: $slate-light2;
      font-size: 10px;
      font-weight: 300;
      opacity: 0.8;
    }
  }
  &.minimized {
    @media screen and (max-width: 500px) {
      a {
        height: 35px;
      }
      small {
        display: none;
      }
    }
  }
}
