//
// AGENDA
.agenda-wrapper, .flexlist-wrapper {
  @media screen and (min-width: 1px) {
    height: 85%;
  }
}
.agenda, .flexlist {
  background: $slate-light2;
  height: 100%;
  position: relative;
  @include box-sizing(border-box);
  @include pie-clearfix;
  @media screen and (max-width: 500px) {
    padding-top: 36px;
  }
  @media screen and (min-width: 501px) {
    padding-top: 86px;
  }
  &.admin {
    @media screen and (max-width: 500px) {
      margin-left: -$size;
      margin-right: -$size;
    }
    .meeting, .flex-item {
      cursor: pointer;
      height: 50px;
      line-height: 30px;
      overflow: hidden;
      @media screen and (max-width: 500px) {
        flex-flow: row wrap;
        height: 50px;
        margin-bottom: 1px;
        padding: 7px 10px 7px 50px;
        position: relative;
        @include box-sizing(border-box);
      }
      .check {
        box-sizing: border-box;
        flex: 0 0 40px;
        input {
          margin: 10px 0;
        }
        @media screen and (max-width: 500px) {
          left: 20px;
          position: absolute;
        }
      }
      .track {
        display: none;
        box-sizing: border-box;
        flex: 0 0 4%;
        margin-top: 10px;
        a {
          background: $red;
          display: block;
          height: 10px;
          width: 10px;
          @include border-radius(50%);
        }
        span {
          display: none;
        }
        @media screen and (max-width: 500px) {
          left: 20px;
          position: absolute;
          top: 10px;
          a {
            height: 10px;
            padding: 0;
            width: 10px;
            @include border-radius(50%);
            span {
              display: none;
            }
          }
        }
      }
      .time {

        span {
          color: rgba($slate, 0.5);
          font-weight: 400;
        }
        @media screen and (max-width: 500px) {
          flex-flow: row nowrap;
          flex: 0 0 30%;
          span {
            display: inline-block;
            margin-right: 5px;
            line-height: 15px;
          }
        }
        @media screen and (min-width: 501px) {
          flex: 0 0 8%;
          span {
            display: block;
            font-size: 11px;
            // line-height: 15px;
          }
        }

        // @media screen and (max-width: 500px) {
        //   bottom: 10px;
        //   left: 10px;
        //   order: 1;
        //   position: absolute;
        //
        // }
        // @media screen and (min-width: 1px) {
        //   flex: 0 0 15%;
        // }
      }
      .title {
        flex: 1 1 25%;
        // max-width: 40%;

        h2 { font-size: 12px; padding-right: 20px; margin-bottom: 0; line-height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
        @media screen and (max-width: 500px) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
      .description {

        display: none;
      }
      .location {
        font-size: 11px; line-height: 15px;
        span { white-space: normal; }
        @media screen and (max-width: 500px) {
          display: block;
          span {
            float: right;
          }
        }
        @media screen and (min-width: 501px) {
          flex: 1 1 8%;
        }
      }
      .company {}
      .track-name {
        font-size: 11px; line-height: 30px;
        @media screen and (min-width: 501px) {
          flex: 1 1 6%;
        }
        @media screen and (max-width: 500px) {
          position: absolute;
          left: 0;
          top: 0;
          left: 15px;
          margin-top: -5px;
          top: 50%;
          span {
            background: $blue;
            color: transparent !important;
            content: '.';
            height: 10px;
            padding: 0;
            width: 10px;
            @include border-radius(50%);
          }
        }
      }
      .registered { font-size: 11px; line-height: 30px; }
      .updated { font-size: 11px; line-height: 30px; span { white-space: nowrap; } }
      .attachment { line-height: 30px;  flex: 0 0 20px;
        @media screen and (max-width: 500px) {
          display: none;
        }
      }
      .actions { display: none; }
    }

  }
  &.attendee {
    height: 52em;
    .meeting, .flex-item {
      flex-flow: row wrap;
      height: 170px;
      padding-top: 40px;
      padding-right: 60px;
      padding-bottom: 15px;
      position: relative;
      @include box-sizing(border-box);
      @media screen and (max-width: 500px) {
        height: 60px;
        margin-bottom: 1px;
        padding: 10px 40px;
        .location {
          order: 5;
        }
      }
      @media screen and (min-width: 801px) and (max-width: 1200px) {
        float: left;
        margin-right: 0.5%;
        width: 49.5%;
        &:nth-of-type(2n) {
          margin-right: 0;
          width: 50%;
        }
      }
      @media screen and (min-width: 1201px) {
        float: left;
        margin-right: 0.533%;
        width: 32.8%;
        &:nth-of-type(3n) {
          margin-right: 0;
          width: 33.333%;
        }
      }
      .time {  display: none; }
      .title {
        flex: 1 1 100%;
        @media screen and (max-width: 500px) {
          h2 {
            font-size: 14px;
            margin-bottom: 5px;
          }
        }
      }
      .description {
        flex: 1 1 100%;
        p {
          max-width: 500px;
          text-align: left;
          white-space: normal;
        }
        @media screen and (max-width: 500px) {
          display: none;
        }
      }
      .people {
        line-height: 20px; flex: 1 1 auto; line-height: 30px;
        @media screen and (max-width: 500px) {
          display: none;
        }
      }
      .location {
         flex: 1 1 auto; line-height: 30px;
        @media screen and (min-width: 501px) {
          flex: 1 1 auto; line-height: 30px;
          position: absolute;
          right: 10px;
          top: 0px;
          a {
            background: $blue;
            color: $white;
            display: block;
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 0.5px;
            line-height: 20px;
            padding: 0 10px;
            text-align: center;
            text-transform: uppercase;
          }
        }
        @media screen and (max-width: 500px) {
          left: 10px;
          margin-top: -5px;
          top: 50%;
          a {
            height: 10px;
            padding: 0;
            width: 10px;
            @include border-radius(50%);
            span {
              display: none;
            }
          }
        }
      }
      .track-name {
        position: absolute;
        @media screen and (min-width: 501px) {
          left: 0;
          top: 0;
          span {
            background: $blue;
            color: $white !important;
            display: block;
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 0.5px;
            line-height: 20px;
            padding: 0 10px;
            text-align: center;
            text-transform: uppercase;
          }
        }
        @media screen and (max-width: 500px) {
          left: 0;
          top: 0;
          left: 15px;
          margin-top: -5px;
          top: 50%;
          span {
            background: $blue;
            color: transparent !important;
            content: '.';
            height: 10px;
            padding: 0;
            width: 10px;
            @include border-radius(50%);
          }
        }
      }
      .company {

      }
      .registered { display: none; }
      .updated { display: none; }
      .attachment { display: none;}
      .actions { position: absolute; right: 0; height: 100%; width: 50px; top: 0; a, button {@include center;}}
      &.featured {
        background: lighten($blue, 50%);
        box-shadow: rgba($blue, 0.5) 1px 1px 0;
        .title {
          h2 {
            height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .people {
          @media screen and (max-width: 500px) {
            display: inline-block;
          }
        }
      }
    }
  }
  &.no-picker {
    padding-top: 50px;
    @media screen and (max-width: 500px) {
      padding-top: 0;
    }
    .jumper {
      padding-top: 50px;
    }
  }
  .listing {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    overflow: auto;
    @include pie-clearfix;
    @include box-sizing(border-box);
    @media screen and (max-width: 500px) {
      padding-bottom: 50px;
    }
    @media screen and (min-width: 501px) {
      padding: 0 20px 20px;
    }
    &.with-jumper {
      margin-right: 20px;
    }
  }
  .dayband, .flex-title {
    clear: both;
    color: $slate;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    + .timeband, .flex-heading {
      height: 20px;
      line-height: 10px;
      padding-bottom: 10px;
    }
  }
  .timeband, .flex-heading {
    clear: both;
    color: $slate + #111;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-align: center;
  }

  //////
  .meeting, .flex-item {
    background: #fff;
    box-shadow: (rgba($slate, 0.1) 1px 1px 0);
    display: flex;
    font-size: 12px;
    margin-bottom: 7px;
    padding: 10px 10px 10px 18px;
    width: 100%;
    @include border-radius(2px);
    @include box-sizing(border-box);
    > * {
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      flex-basis: 0;
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0px;
      white-space: nowrap;
      @include box-sizing(border-box);
      &:last-child {
        padding-right: 0;
      }
    }
    .track {

    }
    .time {
      flex: 1 1 50px;
      flex-flow: column nowrap;
      @include box-sizing(border-box);
      span {
        line-height: 30px;
      }
      .start {
        color: #444;
        font-weight: 600;
      }
      .end {
        color: #bbb;
      }
    }
    .title {
      // flex-grow: 5;
      h2 {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
        padding-right: 20px;
      }
    }
    .description {
      p {
        color: #999;
        font-size: 12px;
        height: 36px;
        line-height: 18px;
        margin-bottom: 10px;
        max-width: 500px;
        overflow: hidden;
        padding-right: 20px;
        text-overflow: ellipsis;
      }
    }
    .people {
      // flex-grow: 1;
      white-space: nowrap;
    }
    .speaker {
      color: #999;
      display: inline-block;
      margin-right: 10px;
      white-space: nowrap;
      img {
        display: inline;
        float: left;
        height: 20px;
        margin-right: 7px;
        object-fit: cover;
        width: 20px;
        @include border-radius(50%);
      }
      span {
        float: left;
        line-height: 20px;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
    .location {
      color: rgba($slate, 0.5);
      line-height: 20px;
      span {
        align-items: center;
        display: inline-flex;
        white-space: nowrap;
      }
      i {
        font-size: 14px;
        margin-right: 3px;
      }
    }
    .company {}
    .track-name {
      color: #999;
      line-height: 20px;
      white-space: nowrap;
      span {}
    }
    .registered {
      color: #999;
      line-height: 20px;
      span {
        align-items: center;
        display: inline-flex;
      }
      i {
        font-size: 16px;
        margin-right: 6px;
      }
    }
    .updated {
      color: #999;
      line-height: 20px;
      span {}
    }
    .attachment {
      color: #999;
      line-height: 20px;
      span {}
    }
    .actions {
      display: inherit;
      a, button {
        display: block;
        &.added {
          i {
            background: $green;
          }
          &:hover, &:focus {
            i {
              background: $red;
              &:before {
                content: "\e935";
              }
            }
          }
        }
      }
      i {
        background: rgba($slate, 0.5);
        color: $white;
        display: block;
        font-size: 16px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: 30px;
        @include border-radius(2px);
      }
    }
  }
}

.users {
  &.admin {
    .flex-item {
      .check {
        order: 1;
      }
      .user {
        order: 2;
        flex: 0 0 40px;
        height: 30px;
        line-height: 30px;
        width: 40px;
        img {
          display: block;
          height: 30px;
          object-fit: cover;
          width: 30px;
          @include border-radius(50%);
        }
      }
      .title {
        order: 3;
      }
      .description {
        display: none;
        order: 4;
      }
      .company {
        order: 5;
      }
      .role {
        order: 6;
      }
      .updated {
        order: 7;
      }
      @media screen and (max-width: 500px) {
        height: 60px;
        padding-left: 80px;
        .check {
          left: 10px;
          line-height: 50px;
        }
        .user {
          left: 40px;
          position: absolute;
          top: 18px;
        }
        .title {
          flex: 0 0 80%;
          line-height: 20px;
          padding-top: 5px;
          h2 {
            line-height: 20px;
          }
        }
        .company {
          flex: 0 0 50%;
          line-height: 20px;
          span {
            float: left;
          }
        }
        .role {
          flex: 0 0 25%;
          line-height: 20px;
        }
        .updated {
          flex: 0 0 25%;
          line-height: 20px;
        }
      }
    }
  }
  &.attendee {
    .flex-item {
      height: 120px;
      padding: 10px 10px 10px 90px;
      .check {
        display: none;
      }
      .user {
        order: 1;
        flex: 0 0 60px;
        height: 60px;
        left: 15px;
        line-height: 60px;
        position: absolute;
        top: 15px;
        width: 60px;
        img {
          display: block;
          height: 60px;
          object-fit: cover;
          width: 60px;
          @include border-radius(50%);
        }
      }
      .title {
        flex: 0 0 100%;
        order: 2;

      }
      .company {
        flex: 0 0 100%;
        margin-bottom: 5px;
        order: 3;
        span {
          color: rgba($slate, 0.5);
          text-transform: uppercase;
        }
      }
      .description {
        order: 4;
        p {
          margin: 0;
        }
      }
      .role {
        order: 5;
        position: absolute;
      }
      .updated {
        display: none;
      }
      @media screen and (min-width: 501px) {
        .title {
          h2 {
            margin: 5px 0 3px;
          }
        }
        .role {
          right: 15px;
          top: 15px;
        }
      }
      @media screen and (max-width: 500px) {
        height: 60px;
        padding-left: 60px;
        .user {
          flex: 0 0 40px;
          height: 40px;
          left: 10px;
          top: 10px;
          width: 40px;
          img {
            height: 40px;
            width: 40px;
          }
        }
        .title {
          margin: 0;
        }
        .company {
          color: rgba($slate, 0.5);
          font-size: 11px;
        }
        .description {
          display: none;
        }
        .role {
          bottom: 10px;
          color: rgba($slate, 0.5);
          font-size: 11px;
          right: 10px;
        }
      }
    }
  }
}
.agenda {
  &.admin {
    .flex-item {
      .check {
        order: 1;
      }
      .track {
        order: 2;
      }
      .time {
        order: 3;
      }
      .title {
        order: 4;
      }
      .description {
        order: 5;
      }
      .people {
        order: 6;
        line-height: 30px;
        margin-top: 5px;

        a {
          margin-right: 0;
        }
        img {
          margin-right: 3px;
        }
        span {
          display: none;
        }
        @media screen and (max-width: 500px) {
          display: none;
          // flex: 0 0 100%;
        }
      }
      .location {
        order: 7;
        @media screen and (max-width: 500px) {
          order: 3;
        }
      }
      .track-name {
        order: 8;
        @media screen and (max-width: 500px) {
          order: 1;
        }
      }
      .registered {
        order: 9;
      }
      .updated {
        order: 10;
      }
      .attachment {
        order: 11;
      }
      .actions {
        order: 12;
      }
    }
  }
  &.attendee {
    .time {
      order: 3;
    }
    .title {
      order: 4;
    }
    .description {
      order: 5;
    }
    .people {
      order: 6;
    }
    .location {
      order: 5;
    }
    .track-name {
      order: 1;
    }
    .registered {
      order: 8;
    }
    .updated {
      order: 9;
    }
    .attachment {
      order: 10;
    }
    .actions {
      order: 11;
    }
  }
}

// JUMPER
.jumper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 10px;
  overflow: hidden;
  height: 100%;
  padding-top: 86px + 4px;
  padding-bottom: 4px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 20px;
  @include box-sizing(border-box);
  a {
    color: rgba($slate, 0.5);
    cursor: pointer;
    display: block;
    &:hover, &:focus, &.active {
      color: $slate;
      font-weight: 500;
      @include scale(1.2);
    }
  }
}
