//
// AntD Overrides


// Date picker
.ant-calendar-picker {
  width: 100% !important;
  > span {
    display: inline-block;
    width: 100%;
  }
  .session & {
    margin-bottom: 1.2em;
  }
}
.ant-calendar-picker-clear {
  background: transparent;
  left: auto !important;
  margin-top: 0;
  right: 3em !important;
}
.ant-calendar-picker-icon {
  height: 40px;
  line-height: 40px;
  margin-top: 0;
  right: 1em;
  top: 0;
  &:after {
    content: "\e93a";
    color: rgba($slate, 0.5);
    font-family: linearicons;
    vertical-align: middle;
  }
}

// Time picker
.ant-time-picker-input {
  @extend .input;
}
.ant-time-picker-icon {
  display: none;
}
.ant-time-picker {
  width: 100%;
}

// Select
.ant-select {
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}
.ant-select-selection {
  border: none;
  box-shadow: rgba($slate, 0.1) -1px -1px 0 inset;
  line-height: 40px;
  height: 40px;
  width: 100%;
  .editor-toolbar & {
    background: $slate-light;
    height: 30px;
    line-height: 30px;
  }
}
.ant-select-selection__rendered, .ant-select-selection-selected-value {
  height: 40px;
  line-height: 40px;
  .editor-toolbar & {
    height: 30px;
    line-height: 30px;
  }
}
.ant-calendar-picker-input {
  margin-bottom: 0 !important;
}

.ant-select-selection--multiple .ant-select-selection__choice__content {
  height: 30px;
  line-height: 30px;
}
.ant-select-selection--multiple > ul > li, .ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
}
.ant-select-selection--multiple .ant-select-search--inline .ant-select-search__field {
  height: 30px;
  line-height: 30px;
}
.ant-select-search__field {
  height: 30px !important;
  line-height: 30px !important;
  width: 100% !important;
}

// Popover

.ant-popover-inner {
  background: $slate-light2;
  @include pie-clearfix;
  input {
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 5px;
  }
  button {
    @extend .button--success;
    float: right;
    height: 35px;
    outline: none;
  }
}
.ant-popover-inner-content {
  padding: 5px 8px;
  > form {
    @include pie-clearfix;
    overflow: hidden;
  }
}
.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow:after, .ant-popover-placement-bottomLeft > .ant-popover-content > .ant-popover-arrow:after, .ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow:after {
  border-bottom-color: $slate-light;
}
