//
// Aside

.sidebar {
	bottom: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	@include box-sizing(border-box);
	@media screen and (max-width: 800px) { display: none; }

	&.help {
		background: #fff;
		border-left: 1px solid $border-light;
		padding: 2em;
		width: 300px;
	}

	&.preview {
		background: #eee;
		border-left: 1px solid $border-light;
		width: 400px;
		overflow-y: auto;


		&.preview-desktop {
			.themeOuterContainer {
				margin: $size/2 $size/2 0;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
			.themeContainer {
		    @include scale(0.33333333);
		    background: #eee;
		    bottom: 0;
		    height: 130%;
		    position: absolute;
		    right: 0;
		    top: 0;
		    transform-origin: top right;
		    width: 300%;
				@include box-sizing(border-box);
			}
		}
		&.preview-mobile {
			.themeOuterContainer {
				margin: $size/2 $size/2 0;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				&:after {
					background: url("/packages/pathable-styles/images/iphone.png") no-repeat center;
					background-size: 300px 608px;
					content:'';
					display: inline-block;
					height: 608px;
					opacity: 0.7;
					width: 300px;
					@include center;
				}
			}
			.themeContainer {
				background: #eee;
				bottom: 0;
				overflow-y: auto;
				position: absolute;
				right: 0;
				transform-origin: top right;
				height: 461px;
				width: 260px;
				z-index: 1;
				@include center;

			}
		}
		.widgetContainer {
			height: 100%;
			> div {
				height: 100%;
			}
			> h1 {
				display: none;
			}
		}
		@media screen and (min-width: 801px) { width: 300px; &.preview-desktop .themeContainer {@include scale(0.2); width:500%;} }
		@media screen and (min-width: 1001px) { width: 400px; &.preview-desktop .themeContainer {@include scale(0.25); width:400%;} }
	  @media screen and (min-width: 1401px) { width: 600px; &.preview-desktop .themeContainer {@include scale(0.3333); width:300%;} }
	  @media screen and (min-width: 1681px) { width: 800px; }
	  @media screen and (min-width: 1921px) { width: 1000px; }
		@media screen and (min-width: 801px) and (max-width: 1000px) { &.preview-mobile .themeOuterContainer {@include scale(0.8);} }
	}
	// iframe, img {
	// 	width: 100%;
	// }
	iframe.twitter-timeline {
		height: 500px !important;
		width: 100% !important;
	}
}

.themeScrollbar {
	bottom: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: $size*2.5;
	width: 100%;
}

.timeline-Widget {
	background-color: red !important;
}

.preview-wrapper {
	height: 100%;
	overflow: auto;
	@include box-sizing(border-box);
}
.preview-controls {
	background: $bg-light;
	border-bottom: 1px solid $border-light;
	height: $size*2.5;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 2;
	@include pie-clearfix;
	.radio-group {
		float: right;
		padding: $size/2;
	}
	.radio-field input[type="radio"] + label span {
		background: transparent;
		border-color: $border;
		padding: $size/3.3 $size/1.5;
	}
	.radio-field input[type="radio"]:checked + label span {
		background: $gray;
		border-color: $gray;
		color: $white;
	}
	.button--light {
		background: transparent;
		border-color: $border;
		color: $gray;
		height: 32px;
		margin: $size/2 $size/2 $size/2 0;
		padding: $size/3.3 $size/1.5;
		&:hover, &:focus {
			background: $gray;
			border-color: $gray;
			color: $white;
		}
	}
}

.page-selector {
	float: left;
	position: relative;
	@include pie-clearfix;
	h1 {
		border-bottom: none;
		float: left;
		font-size: $size;
		font-weight: 400;
		height: $size*1.5;
		margin: 0;
		position: relative;
		a {
			background: #eee;
			border-right: 1px solid $border-light;
			color: $gray;
			display: block;
			font-size: $size/3;
			height: $size*2.5;
			line-height: $size*2.5;
			padding: 0 $size/1.5;
		}
		i {
			margin-left: $size/2;
		}
	}

	ul {
		display: none;
		font-size: $size;
		left: 0;
		margin-top: -1px;
		position: absolute;
		top: $size*1.5;
		width: 150%;
		a {
			background: $gray;
			border-top: 1px solid rgba(0,0,0,0.1);
			color: $white;
			display: block;
			font-size: $size/3.5;
			padding: $size/2 $size/1.5;
			&:hover, &:focus {
				background: $gray - #111;
			}
		}
	}
	&:hover, &:focus {
		h1 a {
			background: $gray;
			color: $white;
		}
		ul {
			display: block;
		}
	}
}

.groupWidget {
	clear: both;
	width: 100%;
	&:first-child {
		height: 80px;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 100;
	}
	&:last-child {
	}
}
