
//
// BUILDING BLOCKS

$block-size: 50px;

// Blocks wrapper
.b-blocks {
	font-size: .9em;
	width: 100%;
	&.twothirds {
		width: 66.666%;
	}
}

// Block columns controls
.b-blocks-toolbar {
	background: #cfebf7;
	border-radius: 2px;
	box-shadow: rgba($blue, 0.2) 0 -1px 0 inset;
	display: block;
	padding: $size/1.5;
	@include pie-clearfix;
	.button {
		opacity: 0.6;
		&:hover, &:focus {
			opacity: 1;
		}
	}
	@media screen and (min-width:501px) {
		.b-blocks-controls {
			float: right;
		}
	}
}

// Blocks main container
.b-blocks-container {
	background: #e0f2f9;
	border-bottom: 1px solid rgba($blue, 0.3);
	border-radius: 2px;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
	overflow: hidden;
	padding: $size/1.5;
	&.multi-columns {
		padding: 0;
		.b-blocks-column {
			padding: $size/1.5 $size/1.5 $size*1.5;
		}
	}
}

// Blocks divider
.b-blocks-divider {
	border-left: 1px dashed rgba($blue, 0.5);
	position: relative;
	width: 0;
	&:before {
		bottom: 0;
		content: "";
		cursor: col-resize;
		left: -5px;
		position: absolute;
		right: -4px;
		top: 0;
	}
	&:hover, &:focus {
		border-color: $blue;
		&:before {
			background: rgba($orange, 0.5);
		}
	}
}

// Block columns
.b-blocks-column {
	padding-bottom: $size;
	&:hover, &:focus {
		.b-blocks-header {
			opacity: 1;
		}
	}
	.b-block-style {
		background: #fff;
	}
}

.b-blocks-header {
	line-height: $size;
	opacity: 0.6;
	padding-bottom: $size/4;
	@include transition(all, .4);
	@include pie-clearfix;
	h3 {
		color: $blue;
		font-size: $size/2;
		font-weight: 600;
		text-transform: uppercase;
		@extend .left;
	}
	p {
		font-size: $size/2;
		font-weight: 600;
		@extend .right;
	}
	i {
		font-weight: bold;
		margin-left: $size/4;
	}
	@media screen and (max-width:500px) {
		h3, p {
			float: none;
		}
	}
}

// Block row
.b-block-row {
	margin-bottom: $size/4;
	@include pie-clearfix;
	&:last-child {
		margin-bottom: 0;
	}
	&.expanded {
		border: 1px solid $blue;
		@include border-radius(3px);
		> .b-block {
			@include border-radius(2px);
			a {
				color: $blue;
				font-weight: 500;
			}
		}
		.b-block-sub .b-block-style {
			@include border-radius(0);
		}
		.b-block-toggle {
			@include rotate(90deg);
		}
	}
	&.hidden {
		.b-block-content {
			color: $border;
			opacity: 0.5;
		}
		.b-block-display a {
			color: $red;
		}
	}
	&.editable {
		@media screen and (max-width:500px) {
			margin-bottom: 1em;
		}
		.b-block-content {
			background: rgba($blue, 0.05);
			border-color: rgba($blue, 0.2);
			border-style: solid;
			height: auto;
			padding: $size $size $size 0;
		}
		.b-block-handle {
			line-height: normal;
		}
		// delete 1
		.b-block-linetext {
			width: 60%;
			@media screen and (max-width:500px) {
				margin-bottom: 3em;
				width: 100%;
			}
			input, select, .select {
				border-color: rgba($blue, 0.7);
				width: 100%;
			}
			.field {
				float: left;
				padding-right: $size/4;
				margin-bottom: 0;
				width: 50%;
				@include box-sizing(border-box);
				.select &, .sSelect & {
					&:after {
						color: $gray05;
						content: "\e93a";
						position: absolute;
						top: 0;
					}
				}
				&:last-child {
					padding-right: 0;
				}
				&:only-child {
					width: 100%;
				}
				&:after {
					top: .2em;
				}
			}
		}
		// delete 1
		.input, .select {
			background-color: $white;
			display: block;
			height: 3.3em;
			line-height: 3.3em;
			margin: -$size/2 0;
			padding: 0 1.2em;
			position: relative;
			width: 45%;
			@include border-radius(2px);
			@include appearance(initial);
			&:hover, &:focus {
				border-color: $blue;
			}
		}

		span.label {
			display: none;
		}
		.button {
			font-size: 1em;
			margin: -$size/2 0;
			text-transform: uppercase;
			i {
				position: static;
				top: 0.1em;
			}
		}
		i {
			left: 1.2em;
			top: 0.4em;
		}

		.input-message {
			font-size: $size/2;
			left: 0;
			margin-right: 0;
			padding-top: 0;
			position: relative;
			top: 1.5em;
			white-space: normal;
		}
		.field.inline .rte {
			width: 100%;
			@include text-shadow(none);
			.label {
				display: none;
			}
			.editor {
				font-size: 12px;
			}
			.button {
				margin: 0;
			}
		}
		.inline.field.inline.field .input {
			width: 100%;
		}
		.field-group.with-border.push-top.right-align {
			border: none;
			margin-top: 0;
			padding-top: 0;
		}
		a {
			&:hover, &:focus {
				color: #fff;
			}
		}
		.b-block-actions {
			padding: 0;
			.button {
				line-height: 36px;
				padding-bottom: 0;
				padding-top: 0;
			}
		}
	}
	&.group {
		// -webkit-box-shadow: 3px 3px 0 0 rgba(204,204,204,1);
		// -moz-box-shadow: 3px 3px 0 0 rgba(204,204,204,1);
		box-shadow: 2px 2px 0 0 rgba(#fff,0.2), 3px 3px 0 0 rgba($blue,0.2);
		border-radius: 3px;
		margin: $size/3 0;
		&:first-of-type {
			margin-top: 0;
		}
		@media screen and (max-width:500px) {
			box-shadow: 0 2px 0 0 rgba(#fff,0.2), 0 3px 0 0 rgba($blue,0.2);
		}
	}
	&.group.opened {
		border: 1px solid $border-light;
		background: #f2f2f2;
		margin-left: -$size/3;
		margin-right: -$size/3;
		padding: $size/3;
		@include border-radius(2px);
		&:hover, &:focus {
			border-color: $blue;
		}
	}
}

.b-block.b-block-header {
	margin-bottom: $size/3;
	.b-block-style {
		background: transparent;
		border-color: transparent;
	}
	&:hover, &:focus {
		.b-block-style {
			border-color: transparent;
		}
	}
}

// Dashed Divider
.b-block-divider {
	background: none;
	border: none;
	border-top: 1px dashed $border;
	height: 0;
	margin: 1em 0;
}

// Block basic style

.b-block-style {
	background: rgba($blue, 0.05);
	box-shadow: rgba($blue, 0.4) -1px -1px 0 inset;
	@include border-radius(2px);
	@include transition(all .4s);
	&:hover, &:focus {
		box-shadow: rgba($blue, 0.5) -1px -1px 0 inset;
	}
	@media screen and (max-width: 500px) {
		box-shadow: rgba($blue, 0.4) 0 -1px 0 inset;
		&:hover, &:focus {
			box-shadow: rgba($blue, 0.5) 0 -1px 0 inset;
		}
	}
}

.b-block-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


// Block item

.b-block {
	position: static;
	width: 100%;
	@include pie-clearfix;
	@include transition(all .4s);
	[class*="block-"]:not(.b-block-actions, .b-block-show) {
		float: left;
	}
	&:hover, &:focus {
		z-index: 1;
		.b-block-wtype {
			opacity: 1;
		}
		.rte, .rte * {
			color: #444;
			opacity: 1;
		}
	}
	.button span {
		color: $white;
		opacity: 1;
	}
	a {
		color: $gray;
	}
	.fa {
		float: left;
	}
	&.image {
		height: auto;
		padding-bottom: $size/2;
		@include box-sizing(border-box);
		@media screen and (min-width:501px) {
			float: left;
			padding-right: $size/2;
			width: 25%;
			&:last-child {
				padding-right: 0;
			}
		}
		.b-block-content {
			height: auto;
			padding: 0 $size/1.5;
		}
		.b-block-text {
			line-height: $block-size;
			width: 100%;
			p {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		.b-block-avatar {
			height: 8em;
			@include border-radius(0);
		}
		.b-block-image {
			margin: 0;
		}
		.b-block-actions {
			padding-right: 0;
			width: 70%;
		}
	}
	.icon-circle-minus {
		color: red;
	}
}

.b-block-sub {
	@include pie-clearfix;
	.b-block-content {
		margin-top: -1px;
	}
}

.b-block-overflow {
	padding: $size/1.3;
	position: absolute;
	text-align: center;
	width: $size * 2.7;
	@include box-sizing(border-box);
	a {
		display: block;
	}
}


// Block toggle

.b-block-toggle {
	font-size: 1.25em;
	left: 0;
	@extend .b-block-overflow;
	a {
		display: block;
		position: relative;
	}
}


// Block content

.b-block-content {
	height: $block-size;
	padding: 0;
	width: 100%;
	white-space: nowrap;
	@extend .b-block-style;
	@include box-sizing(border-box);
	@include border-radius(2px);
	@media screen and (max-width:500px) {
		height: auto;
	}
}


// Block indentation

.b-block-indent {
	color: $gray;
	line-height: $block-size;
	margin-right: $size;
	.icon-arrow-divert {
		display: block;
		font-size: $size/1.4;
		position: relative;
		top: $size/8;
		@include rotate(45deg);
	}
}


// Block search

.b-block-search {
	i {
		font-size: $size/1.4;
		line-height: 1;
		padding: $size;
		position: absolute;
	}
	.input-search.small {
		font-size: 1em;
		line-height: normal;
		padding: $size/2 $size/2 $size/2 $size*1.5;
	}
	.b-blocks-filter & {
		i {
			font-size: $size/1.7;
			padding: $size/2;
		}
	}
}

// Block content (agenda)

.b-block-time {
	line-height: $block-size;
	width: 20%;
}

.b-block-text {
	line-height: $block-size;
	width: 50%;
	@extend .b-block-ellipsis;
}

.b-block-icon {
	line-height: $block-size;
	a {
		color: $gray;
	}
	+ .b-block-linetext {
		margin-left: $size;
	}
}

.b-block-linetext {
	line-height: $block-size;
	white-space: nowrap;
	width: 50%;
	a {
		display: block;
		@extend .b-block-ellipsis;
	}
	span {
		color: $gray05;
		font: 1.2em monospace;
		margin-left: $size*2;
	}
	i {
		font-size: $size;
		margin-right: .5em;
	}
}

.b-block-doubletext {
	line-height: $block-size/3;
	margin: $block-size/6 0;
	width: 50%;
	a {
		display: block;
		@extend .b-block-ellipsis;
	}
	span {
		color: $gray;
		font-size: 0.9em;
		font-style: italic;
		display: block;
	}
}

.b-block-linetext, .b-block-doubletext {
	@media screen and (max-width:500px) {
		width: 70%;
	}
}


// Block content (people)

.b-block-avatar {
	height: 4em;
	margin: 0;
	margin-right: $size*1.5;
	overflow: hidden;
	width: 4em;
	@include border-radius(50%);
	img {
		float: left;
		height: 100%;
		width: auto;
	}
}

.b-block-attendee {
	line-height: $block-size;
	margin-right: 3em;
	max-width: 30%;
	p {
		@extend .b-block-ellipsis;
	}
}

.b-block-company {
	line-height: $block-size;
	max-width: 30%;
	white-space: nowrap;
	a {
		color: $gray05;
	}
}

.b-block-image {
	height: $size*6;
	margin: $size/2 0 $size/3;
	overflow: hidden;
	position: relative;
	width: 100%;
	img {
		background: $gray05;
		float: left;
		height: auto;
		max-width: 100%;
		min-width: 100%;
		@include center;
	}
}


// Block name

.b-block-name {
	display: table;
	height: $block-size;
	width: 40%;
	a {
		color: $blue;
		display: table-cell;
    vertical-align: middle;
		&:hover, &:focus {
			color: $blue - #111;
		}
		.b-block-row.group & {
			font-weight: 600;
		}
	}
	span {
		display: block;
		font-weight: 400;
		line-height: 1em;
		opacity: 0.5;
		i {
			line-height: 1em;
	    margin-right: 0.35em;
	    vertical-align: text-top;
	    font-size: 1.5em;
		}
	}
	@media screen and (max-width:500px) {
		border-bottom: 1px solid rgba($blue,0.1);
		text-align: center;
		width: 100%;
		a {
			display: block;
			height: auto;
			margin: 0 auto;
			padding: $size/2 0 $size/3;
			white-space: normal;
			width: 80%;
			span {
				margin-top: $size/5;
			}
		}
	}
}


// Block actions

.b-block-actions {
	@extend .right;
	color: $blue;
	padding: 0 $size*0.9;
	width: 20%;
	&:hover, &:focus {
		ul {
			display: block;
		}
		span {
			display: none;
		}
	}
	ul {
		display: none;
		@extend .horizontal-list;
	}
	ul, span {
		float: right;
	}
	.button {
		float: right;
		margin: -$size/3 0;
	}
	.icon-cross-circle {
		color: $red;
	}
	.icon-plus-circle {
		color: $green;
	}
	span {
		line-height: $block-size;
	}
	a {
		color: rgba($blue, 0.5);
		display: block;
		font-size: $size/1.5;
		line-height: $block-size;
		padding: 0 $size/3;
		text-align: center;
		@include transition(all 0.4s);
		&:hover, &:focus {
			color: $blue;
		}
		&:active {
			background: $orange;
		}
		i {
			font-size: 0.9em;
		}
	}
	@media screen and (max-width:350px) {
		width: auto;
	}
	@media screen and (max-width:500px) {
		float: left;
		padding: 0 $size*0.6;
		width: auto;
		a, span {
			line-height: $block-size/1.5;
		}
	}
	@media screen and (max-width:850px) and (min-width:500px) {
		width: auto;
	}
	@media screen and (max-width:1100px) and (min-width:1000px) {
		width: auto;
	}
}


// Block show device

.b-block-show {
	border-left: 1px solid rgba($blue,0.1);
	padding: 0 $size/1.5;
	@extend .right;
	a {
		.b-block & {
			color: rgba($blue, 0.5);
		}
		display: none;
		font-size: $size/1.4;
		line-height: $block-size;
		padding: 0 $size/4;
		&:hover, &:focus {
			color: $blue;
		}
		&.visible {
			color: $blue;
			display: inline-block;
		}
	}
	&:hover, &:focus {
		a {
			display: inline-block;
		}
	}
	@media screen and (max-width: 500px) {
		border: none;
		padding: 0 $size/3;
		a {
			line-height: $block-size/1.5;
		}
	}
}

// Block drag&drop

.b-block-handle {
	line-height: $block-size;
	text-align: center;
	width: 5%;
	@media screen and (max-width:500px) {
		width: 9%;
		.b-block-row.editable & {
			text-align: center;
			width: 100%;
		}
	}
	@media screen and (max-width:300px) {
		width: 12%;
	}
}

// Block turn off/on

.b-block-display {
	font-size: 1.25em;
	right: 0;
	@extend .b-block-overflow;
	a {
		color: $green;
		display: block;
		position: relative;
	}
}

// Block widget type

.b-block-wtype {
	cursor: move;
	height: $block-size;
	margin-right: $size*1.5;
	opacity: 0.8;
	overflow: hidden;
	@include border-left-radius(2px);
	transition: all 0.4s;

	i {
		background: $blue;
		display: block;
		color: #fff;
		float: left;
		font-size: $size*1.2;
		height: $block-size;
		line-height: $block-size;
		text-align: center;
		width: $block-size + 5px;
		&.icon-menu {
			color: rgba(255,255,255, 0.4);
			font-size: $size/1.5;
			padding: 0 $size/5 0 $size/2;
			width: auto;
		}
		.b-block-row.group & {
			background: $blue - #222;
		}
	}
	img {
		float: left;
		height: 100%;
		width: auto;
	}
	@media screen and (max-width:1000px) {
		margin-right: $size;
	}
	@media screen and (max-width:500px) {
		height: $block-size - 10px;
		margin-right: 0;
		width: 100%;
		@include border-radius(2px);
		i {
			height: $block-size - 10px;
			line-height: $block-size - 10px;
			width: 100%;
		}
	}
}

// Block device switch

.b-block-devices {
	line-height: $block-size;
	margin-left: $size/2;
	@include pie-clearfix;
	i {
		font-size: 1.5em;
		margin-left: .5em;
	}
	@media screen and (max-width:500px) {
		margin-left: 0;
	}
	.icon-checkbox {
		margin-right: 0.3em;
	}
}

// Block form

.b-block-row.editable .b-block-form {
	width: 95%;
	@media screen and (max-width:500px) {
		clear: both;
		margin-top: $size;
		width: 100%;
		.b-block-row.editable & {
			text-align: center;
			width: 100%;
		}
		.b-block-handle {
			display: none;
		}
	}
	@media screen and (max-width:300px) {
		width: 12%;
	}
}

// Block fieldset

// refactor
.b-block-row.editable .b-block-fieldset {
	width: 60%;
	@media screen and (max-width:500px) {
		margin-bottom: 3em;
		width: 100%;
	}
	input, select, .select {
		border-color: rgba($blue, 0.7);
		width: 100%;
	}
	.field {
		float: left;
		padding-right: $size/4;
		margin-bottom: 0;
		width: 50%;
		@include box-sizing(border-box);
		.select &, .sSelect & {
			&:after {
				color: $gray05;
				content: "\e93a";
				position: absolute;
				top: 0;
			}
		}
		&:last-child {
			padding-right: 0;
		}
		&:only-child {
			width: 100%;
		}
		&:after {
			top: .2em;
		}
	}
}
// refactor


.b-block-row.editable .b-block-form .b-block-buttons {
	float: right;
	.field {
		float: right;
		margin-left: $size/5;
	}
	i {
		font-size: $size/1.5;
		font-weight: bold;
	}
	.button {
		float: left;
	}
	.button--warning {
		opacity: 0.7;
		padding: .8em;
		@include transition(opacity .4em)
		&:hover, &:focus {
			opacity: 1;
		}
	}
}

.b-block-buttons {
	float: right !important;
	.button {
		height: $size*1.85;
		line-height: $size;
		margin: $size*0.5;
		position: relative;
		i {
			top: 1em;
		}
	}
}

.b-blocks-filter {
	padding-left: $size*2;
	a {
		background: rgba($blue, 0.05);
		box-shadow: rgba($blue, 0.2) 0 -1px 0 inset;
		color: rgba($blue, 0.5);
		display: block;
		font-size: 0.9em;
		padding: $size/2 $size/2;
		@include border-radius(2px);
		span {
			float: right;
		}
		&.active {
			background: $blue;
			color: $white;
		}
	}
}
