//
// OPEN/CLOSE PANELS

#left-close, #right-close {
	bottom: 10px;
	cursor: pointer;
	position: absolute;
	.session & {
		display: none;
	}
}

#left-close {
	right: -$size;
	.icon-chevron-right {
		display: none;
		@media screen and (max-width:500px) {
			&:before {
				content:"\e92b";
			}
		}
	}
	&.open {
		@media screen and (min-width:501px) {
			.icon-chevron-right {
				display: inline;
			}
			.icon-chevron-left {
				display: none;
			}
		}
		@media screen and (max-width: 500px) {
			.icon-chevron-left:before {
				content: "\e92b";
				font-size: $size * 0.75;
			}
		}
	}
	@media screen and (max-width:500px) {
		height: 50px;
		line-height: 50px;
		right: 0;
		top: 0;
		width: 50px;
		a {
			display: block;
			@include pie-clearfix;
			&:hover, &:focus {
				background: darken($slate, 10%);
			}
		}

		.icon-chevron-left, .icon-chevron-right {
			color: $white;
			float: left;
			font-size: $size;
			height: 50px;
			line-height: 50px;
			text-align: center;
			top: 0;
			width: 100%;
			@include box-sizing(border-box);
			&:before {

			}
		}
		.icon-chevron-left:before {
			content: "\e935";
			font-size: $size * 0.5;
		}
	}
}

#right-close {
	left: -$size;
	.icon-chevron-right {
		display: none;
	}
	&.open {
		.icon-chevron-right {
			display: inline;
		}
		.icon-chevron-left {
			display: none;
		}
	}
}
