// App wrapper
#app {
  @extend .height-100;
  >div, >div>div, div & {
    @extend .height-100;
  }
}

// Header and footer widget groups

.preview-mobile {
  .page-meeting-details {
    .group-content {
      padding: 70px auto 0;
      width: 85%;
    }
  }
}
.preview-desktop {
  .page-meeting-details, .page-meetings {
    .group-content {
      margin: 40px auto;
      max-width: 1280px;
      width: 70%;
    }
  }
  .page-meetings {
    .group-content {
      max-width: 1440px;
      width: 96%;
    }
  }
}

.page-meeting-details {
  @media screen and (min-width:501px) {
    .group-content {
      margin: 40px auto;
      max-width: 1280px;
      width: 70%;
    }
  }
  @media screen and (max-width:500px) {
    .group-content {
      margin: 0 auto;
      padding-top: 70px;
      width: 85%;
    }
  }
}

[class*="section-"].group-page {
  @media screen and (max-width: 500px) {
    height: 100%;
    text-align: center;
    @include pie-clearfix;
    > [class*="container-"] {
      height: 100%;
    }
    .group-content {
      height: 100%;
      overflow-y: auto !important;
    }
  }
  .group-footer {
    display: none;
  }
}

[class*="section-"].group-page.page-meetings {
  @media screen and (max-width: 500px) {
    .group-content {
      [class*="container-"], [class*="section-"] {
        height: 100%;
      }
    }
    .agenda {
      height: 100%;
    }

  }
}

[class*="section-"].group-page.page-meeting-details {
  @media screen and (max-width: 500px) {
    .group-content {
      padding-top: 70px;
      .group {
        width: 100%;
      }
    }
  }
}
