// App wrapper
#app {
  @extend .height-100;
  >div, >div>div, div & {
    @extend .height-100;
  }
}

// Header and footer widget groups
.group-header {
  // position: fixed;
  // top: 0;
  width: 100%;
  @include box-sizing(border-box);
  @include pie-clearfix;
  z-index: 10;
  + .widget-hero {
    margin-top: -4em;
  }
}
.group-footer {
  @include box-sizing(border-box);
  @include pie-clearfix;
}
.group-columns, .group {
  min-height: 1px;
}
.group-content > div {
  display: flex;
  @media screen and (max-width:600px) {
    flex-direction: column;
    > section {
      width: 100%;
    }
  }
  .preview-mobile & {
    flex-direction: column;
    > section {
      width: 100%;
    }
  }
}

.preview-mobile {
  .page-meeting-details, .page-meetings {
    .group-content {
      margin: 20px auto 0;
      width: 85%;
    }
  }
}
.preview-desktop {
  .page-meeting-details, .page-meetings {
    .group-content {
      margin: 40px auto 0;
      max-width: 1280px;
      width: 70%;
    }
  }
  .page-meetings {
    .group-content {
      max-width: 1440px;
      width: 96%;
    }
  }
}
