//
// EDITOR

.editor-toolbar {
  background: $slate-light + #333;
  box-shadow: rgba($slate, 0.2) -1px -1px 0 inset;
  padding: 10px 10px 5px;
  @include pie-clearfix;
  button {
    background: $slate-light;
    border: none;
    box-shadow: rgba($slate, 0.1) -1px -1px 0 inset;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    padding: 0;
    text-align: center;
    width: 40px;
    @include border-radius(2px);
    span, i {
      color: rgba($slate, 0.85);
      display: block;
      float: none;
      line-height: 30px;
    }
    &:hover, &:focus {
      background: $slate;
      color: $white;
      span, i {
        color: $white;
      }
    }
    &.active {
      background: $slate-light - #111;
      span, i {
        color: $slate;
      }
    }
  }
  span.label {
    display: none;
  }
  .editor-button-bar {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    @include pie-clearfix;
    button {
      margin-right: 0;
      @include border-radius(0);
      &:first-of-type {
        @include border-left-radius(2px);
      }
      &:last-of-type {
        @include border-right-radius(2px);
      }
    }
  }
  .font-family-picker, .font-size-picker {
    background: $slate-light;
    min-width: 0 !important;
  }
  .font-color-picker {
    background: $slate-light;
    border: none;
    box-shadow: rgba($slate, 0.1) -1px -1px 0 inset;
    width: 30px !important;
    .color-preview {
      height: 20px;
      margin: 5px;
      position: static;
      width: 20px;
    }
    // Remove after old color picker wrapper is replaced with antd component
    .color-overlay {
      border: none;
      min-width: auto;
      padding: 0;
      right: initial;
      top: 33px;
      width: auto;
      .sketch-picker {
        @include border-radius(2px !important);
        padding-bottom: 5px !important;
        width: 300px !important;
      }
      input {
        height: auto;
        line-height: normal;
        padding: 4px 5% 3px;
        width: 70%;
      }
    } // end remove
    &.unset {
      button {
        background: url("/packages/pathable-styles/images/transparent.png") no-repeat center;
        background-size: contain;
      }
    }
  }
  .font-family-picker {
    width: 120px;
  }
  .font-size-picker {
    width: 60px ;
  }

}
// Remove after old color picker wrapper is replaced with antd component
.color-overlay {
  border: none;
  min-width: auto;
  padding: 0;
  right: initial;
  top: 33px;
  width: auto;
  .sketch-picker {
    @include border-radius(2px !important);
    padding-bottom: 5px !important;
    width: 300px !important;
  }
  input {
    height: auto;
    line-height: normal;
    padding: 4px 5% 3px !important;
    width: 70% !important;
  }
} // end remove

.editor-content {
  background: $white;
  box-shadow: rgba($slate, 0.2) -1px -1px 0 inset;
  padding: 10px;
  @include border-radius(2px);
  @include pie-clearfix;
  word-break: break-all;
  > div {
    cursor: text;
  }
  a {
    color: $blue;
    text-decoration: underline;
    &:hover, &:focus {
      color: $orange !important;
    }
  }
  b {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  ul {
   list-style-type: disc;
   list-style-position: inside;
  }
  ol {
     list-style-type: decimal;
     list-style-position: inside;
  }
  ul ul, ol ul {
     list-style-type: circle;
     list-style-position: inside;
     margin-left: 15px;
  }
  ol ol, ul ol {
     list-style-type: lower-latin;
     list-style-position: inside;
     margin-left: 15px;
  }
  .b-block-row.editable .b-block-content .rte-form .inline.field  & {
    .ant-popover-inner {
      background: $slate-light2;
      @include pie-clearfix;
      input {
        float: left; // FIXME
        width: auto; // FIXME
        height: 35px; // FIXME
        line-height: 35px; // FIXME
        margin-right: 5px; // FIXME
      }
      button {
        @extend .button--success;
        float: left; // FIXME
        height: 35px; // FIXME
        outline: none; // FIXME
      }
      .hide {
        display: none; // FIXME
      }
    }

    .flow-resizable {
      position: relative !important;
      transform: none !important;
      &.active {
        .image-node {
          border: 1px solid $blue;
          @include box-sizing(border-box);
        }
        .corner-node {
          &:after {
            background: $blue;
            border: 1px solid $white;
            content: '';
            display: block;
            position: absolute;
            width: 5px;
            height: 5px;
            top: 7.5px;
            left: 7.5px;
          }
        }
      }
    }

    .flow-node {
      @include pie-clearfix;
      &[data-flow="left"] {
        float: left;
        padding-right: 10px;
      }
      &[data-flow="right"] {
        float: right;
        padding-left: 10px;
      }
      > .pivot {
        position: relative;
        z-index: 1;
      }
    }
    .image-controls {
      @include pie-clearfix;
      .size-controls {
        float: left;
        @include pie-clearfix;
        input {
          box-shadow: rgba($slate, 0.2) -1px -1px 0 inset;
          margin-right: 0;
          width: 60px;
        }
        button {
          background: $white;
          box-shadow: rgba($slate, 0.2) -1px -1px 0 inset;
          color: $slate;
        }
      }
      .flow-controls {
        @include pie-clearfix;
        float: right;
        margin-left: 30px;
      }
      button {
        background: rgba($slate, 0.7);
        padding: .9em 0.7em;
        &.active {
          background: $slate;
        }
      }
    }
  }
}

@media screen and (min-width: 1401px) {
  .editor-content {
    padding: 20px;
  }
}

span.label + .editor {
  float: left;
  width: 75%;
}

.code-editor {
  pre {
    white-space: pre-wrap;
  }
}
