//
// Form styles

// Basic input styles

.input {
  background: #fff;
  border: none;
  box-shadow: rgba($slate, 0.4) -1px -1px 0 inset;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6;
  outline: none;
  padding: 0.9em 1em;
  @include border-radius(2px);
  @include box-sizing(border-box);
  @include input-placeholder {
    color: #444444;
  }

  &:hover {
    background: #fff;
    border-color: #222222;
  }

  &:focus, &:active {
    background: #fff;
    border-color: $blue;
  }

  &.push {
    margin: 0 0 1.2em;
    @media screen and (max-width:500px) {
      margin: 0 0 0.8em;
    }
  }

  &.small {
    line-height: $size*1.7;
    padding: 0 0.8em;
  }
}

.input-switch {
  .selected {
    background: $gray;
    color: $white;
  }
}

// Basic select styles

.select {
  @extend .b-block-style;
  background: #fff;
  border: none;
  font-size: 1em;
  font-weight: 300;
  outline: none;
  padding: 1em;
  @include border-radius(2px);
  @include box-sizing(border-box);
  @include input-placeholder {
    color: #444444;
  }
  &.small {
    line-height: $size*1.7;
    padding: 0 0.8em;
  }
}

.select-custom {
  display: block;
  position: relative;
  @include pie-clearfix;
  .select {
    @include appearance(none);
    width: 100%;
  }
  &.w-units {
    display: inline-block;
    position: absolute;
    &:before {
      color: $blue;
      font-size: $size/3;
      font-weight: bold;
    }
    .select {
  		line-height: $size;
  		padding-right: $size/1.5;
  	}
  }
  &:before {
    color: inherit;
    content: "\e93a";
    font-family: linearicons;
    pointer-events: none;
    position: absolute;
    right: .75em;
    top: 30%;
    z-index: 1;
  }
}

.select-group {
  .select-custom:nth-last-child(n+2) {
    margin-right: -1px;
  }
}

// Input wrapper

.field {
  display: block;
  position: relative;
  @include pie-clearfix;

  &.with-icon {
    input {
      padding-left: 2.8em;
    }
    [class^="icon-"], [class*="icon-"] {
      font: 1em linearicons;
      left: 1em;
      @include opacity(0.75);
      position: absolute;
      top: 1em;
    }
  }

  &.inline {
    float: left;
    margin-bottom: 1em;
    width: 100%;
    @include pie-clearfix;
    .label {
      display: block;
      font-weight: 100;
      padding: 0.5em 0;
      @include text-shadow($white 1px 1px 1px);
      @include box-sizing(border-box);
      @media screen and (min-width:501px) {
        display: inline-block;
        float: left;
        padding: 1em 1em 1em 0;
        width: 25%;
      }
    }
    .inline {
      width: auto;
    }
    input, textarea, select, code, .rte, .field-image, .sSelect, .radio-group {
      display: block;
      width: 100%;
      @include box-sizing(border-box);
      @media screen and (min-width:501px) {
        display: inline-block;
        float: right;
        width: 75%;
        .geosuggest__input {
          width: 100%;
        }
      }
    }
    .radio-group {
      display: table;
    }
  }

  &.checkbox {
    color: $gray;
    float: left;
    font-weight: 100;
    @include box-sizing(border-box);
    @include pie-clearfix;
    @media screen and (min-width:501px) {
      padding-left: 25%
    }
    input {
      float: left;
      margin: $size/5 $size/4 0 0;
      width: auto;
    }
  }
  &:after {
    font-family: linearicons;
    position: absolute;
    right: 1em;
    top: .9em;
    @media screen and (max-width: 500px) {
      // top: 4em;
    }
  }

  // Mini states
  &.mini-notice:after {
    color: $white;
    font-size: 0.5em;
    height: 1.5em;
    line-height: 1.5em;
    right: -0.5em;
    text-align: center;
    top: -0.6em;
    width: 1.5em;
    z-index: 4;
    @include border-radius(50%);
  }

  // Input wrapper states

  &.success {
    &:after {
      color: $green;
      content: "\e959";
    }
    input, select, textarea {
      // border-color: $green;
    }
    &.mini-notice:after {
      background: $green;
      content: "\e934";
    }
    .input-message{
      display: none;
    }
  }
  &.warning {
    color: $orange;
    &:after {
      content: "\e956";
    }
    input, select, textarea {
      border-color: $orange;
    }
    &.mini-notice:after {
      background: $orange;
      content: "\e954";
    }
  }
  &.error {
    color: $red;
    &:after {
      content: "\e95a";
    }
    input, select, textarea {
      color: $red;
      box-shadow: rgba($red, 0.4) -1px -1px 0 inset;
    }
    &.mini-notice:after {
      background: $red;
      content: "\e92a";
    }
  }
}

.field-group {
  border: none;
  @include box-sizing(border-box);
  &.with-border {
    border: none;
    border-top: 1px dashed rgba(0,0,0,0.1);
    padding-top: $size;
    @media screen and (min-width:501px) {
      margin-bottom: 2em;
    }
  }
  .field, .field.inline {
    margin-right: $size/3;
    margin-bottom: 0;
    width: auto;
  }
  .button--small {
    margin-top: $size/2;
  }
  &.push-top {
    margin-top: $size;
  }
  &.right-align {
    > .field, .field.inline {
      float: right;
      margin-right: 0;
      margin-left: $size/3;
    }
  }
  &.right {
    > .field, .field.inline {
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @media screen and (max-width:500px) {
    &.with-border {
      background: white;
      bottom: 0;
      position: fixed;
      right: 0;
      width: 100%;
      border-top-style: solid;
      padding: 0.5em;
    }
  }
}

.multi-field {
  margin-bottom: $size/2;
  legend {
    float: left;
    font-weight: 100;
    padding: $size/4 0;
    width: 25%;
  }
  .field {
    float: left;
    margin-right: 2%;
    width: 38%;
    span.label {
      display: none;
    }
    input, textarea, select {
      width: 100%;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &.name {
    .field {
      width: 28%;
      &:last-child {
        width: 15%;
      }
    }
  }
  &.phone {
    .field {
      width: 48%;
      &:first-of-type {
        width: 25%;
      }
    }
  }
  &.date-time {
    .field {
      width: 48%;
    }
  }
  @media screen and (max-width:500px) {
    label, .field {
      clear: both;
      float: none;
      width: 100% !important;
    }
    .field {
      margin-bottom: $size/2;
      &:last-child {
        width: 100%;
      }
    }
  }
}

// Field image

.field-image {
  div {
    @extend .b-block-style;
    @include border-radius(2px);
    @include box-sizing(border-box);
    overflow: hidden;
    padding: $size*1.5 $size;
    position: relative;
    text-align: center;
    img {
      left: 0;
      position: absolute;
      top: -33.333%;
      width: 100%;
      @include border-radius(2px);
    }
    .button {
      display: inline-block;
      position: relative;
      z-index: 2;
    }
  }
}

// Field code

.field-code:not(pre)  {
  > code[class*="language-"] {
    @extend .input;
    min-height: $size*10;
  }
}

// Field for date picker

.field-date {
  input {
    @extend .input;
    @extend .b-block-style;
    @extend .push;
    width: 100%;
  }
}

// Input icons

.input-icon {
  &--user:before {
    content: "\e6c2";
  }
  &--mail:before {
    content: "\e696";
  }
  &--lock:before {
    content: "\e6b6";
  }
  &--search:before {
    content: "\e922";
  }
}

// Input message
.input-message {
  clear: right;
  float: right;
  font-size: .8em;
  padding-top: .5em;
}

// Input search
.input-search {
  @extend .input;
  @extend .input-icon--search;
  font-size: $size/1.5;
  margin-bottom: $size;
  padding: $size $size $size $size*3;
  width: 100%;
}

.global-search {
  input {
    @extend .input;
    @extend .input-icon--search;
    border-color: rgba($blue, .8);
    color: $blue;
    padding: .7em 1.5em;
    @include input-placeholder {
      color: $blue;
    }
    &:hover, &:focus {
      border-color: $blue;
    }
    &:active {
      @include box-shadow(rgba(0,0,0,.3) 0 1px 1px);
    }
  }
  [class^="icon-"], [class*="icon-"] {
    color: $blue - #111;
    opacity: 1;
    top: 1em;
    @include scale(1.25);
  }
}

// Rounded Checkbox

.rounded-checkbox {
  border: 1px solid $border;
  height: $checkbox-size;
  position: relative;
  white-space: nowrap;
  width: $checkbox-size;
  @include border-radius(2px);
  label {
    cursor: pointer;
    height: $checkbox-size;
    left: 0;
    position: absolute;
    top: 0;
    width: $checkbox-size;
    @include border-radius(2px);
    &:after {
      @include opacity(0);
      background: #fff;
      content: "\e934";
      display: inline-block;
      font-family: linearicons;
      font-size: .75em;
      margin-right: 1em;
      padding: .2em;
      position: absolute;
      text-align: center;
      width: $checkbox-size;
      height: $checkbox-size;
      @include border-radius(2px);
    }
  }
  input[type=checkbox] {
    margin: 0 1em 0 0;
    visibility: hidden;
  }
  input[type=checkbox]:checked + label:after {
    @include opacity(1);
  }
  span {
    color: $border;
    font: .95em "Open Sans", sans-serif;
    position: relative;
    top: -0.1em;
  }
  &.field {
    &.error {
      border-color: $red;
    }
    &:after {
      top: 0;
      right: -19em;
    }
  }
}

// Icon checkbox

.icon-checkbox {
  display: inline-block;
  float: left;
  height: $size*1.6;
  margin: -$size/2.3 0;
  position: relative;
  white-space: nowrap;
  width: $size*1.6;
  @include border-radius(50%);
  label {
    cursor: pointer;
    display: inline-block;
    height: $size*1.6;
    left: 0;
    line-height: $size*1.6;
    position: absolute;
    top: 0;
    width: $size*1.6;
    @include border-radius(50%);
    &:after {
      bottom: 0;
      color: $blue;
      content: "";
      display: inline-block;
      font: 1.25em linearicons;
      left: 0;
      line-height: $size*1.2;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      @include border-radius(50%);
      @include box-sizing(border-box);
    }
    &:hover, &:focus {
      &:after {
        background: $blue;
        color: $white;
      }
    }
  }
  &.both label:after {
    content: "\e7ae";
  }
  &.desktop label:after {
    content: "\e7af";
  }
  &.mobile label:after {
    content: "\e7a6";
  }
  input[type=checkbox] {
    margin: 0;
    visibility: hidden;
  }
  input[type=checkbox]:checked + label:after {
    background: $blue;
    color: $white;
  }
}

.radio-group {
  @extend .b-block-style;
  background-color: $slate-light;
  display: table;
  table-layout: fixed;
}

.radio-field {
  display: table-cell;
  white-space: nowrap;
  input[type="radio"] {
    display:none;
  }
  input[type="radio"] + label {
    color: rgba($slate, 0.7);
    font-size: 1em;
    text-align: center;
    &:hover, &:focus {
      color: $slate;
    }
    .btn-controls & {
      font-size: 1.05em;
    }
  }
  input[type="radio"] + label span {
    background-color: rgba(#fff, 0.5);
    cursor: pointer;
    display: block;
    padding: $size/3.3;
    vertical-align: middle;
    .btn-controls & {
      padding: $size/2.5 $size;
      background-color: rgba($slate, 0.2);
      i {
        font-size: 1.3em;
        position: relative;
        top: 2px;
      }
    }
    .field.inline & {
      padding: $size/2.3;
    }
    i {
      margin-right: 0.5em;
      .w-setting & {
        margin-right: 0;
      }
    }
  }

  input[type="radio"]:checked + label span {
    background-color: #fff;
    box-shadow: rgba($slate, 0.4) 0 -1px 0 inset;
    color: $slate;
    .btn-controls & {
      padding: $size/2.5 $size/1.5;
      background-color: $slate;
      color: $white;
    }
  }

  input[type="radio"] + label span,
  input[type="radio"]:checked + label span {
    @include transition(background-color, 0.4s, linear);
  }
  &:first-child span {
    @include border-left-radius(2px);
  }
  &:last-child {
    input[type="radio"]:checked + label span {
      box-shadow: rgba($slate, 0.4) -1px -1px 0 inset;
    }
    span {
      @include border-right-radius(2px);
    }
  }
  &:nth-child(n+2) input[type="radio"]:not(:checked) + label span {
    border-left-color: $white;
  }
  [class^="icon-"], [class*="icon-"] {
    position: static;
  }
}

.color-picker {
  position: relative;
  input:after {
    position: absolute;
  }
  .input {
    padding-left: $size*2;
    @include box-sizing(border-box);
  }
  a {
    padding-left: 15%;
  }
  &:hover, &:focus {
    z-index: 5;
    .color-overlay {
      display: block;
    }
    .input, .field:after {
      z-index: 3;
    }
    .color-preview {
      z-index: 4;
    }
    &:before {
      z-index: 4;
    }
  }
}
.color-preview {
  background-color: $blue;
  display: block;
  height: $size*1.25;
  position: absolute;
  left: $size*0.2;
  top: $size*0.2;
  width: $size*1.25;
  z-index: 1;
  @include border-radius(2px);
}
.color-overlay {
  background-color: #fff;
  border: 1px solid $blue;
  display: none;
  min-width: 350px;
  padding: $size*2 0.5em 0.5em;
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  z-index: 2;
  @include box-shadow($gray05 1px 1px 0);
  @include box-sizing(border-box);
  @include border-radius(2px);
  img {
    @extend .full;
  }
}

// Styled form box
.form-box {
  @extend .b-block-style;
  background: $slate-light2;
  margin: $size/2 0 $size;
  padding: $size $size $size/2;
  position: relative;
  @include border-radius(2px);
  @include box-sizing(border-box);
  @include pie-clearfix;
  legend {
    color: $blue;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.01em;
    margin-bottom: $size;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}

.form-link {
  clear: both;
  display: inline-block;
  font-size: $size/2;
  padding: $size/4 0;
  position: relative;
  // display: block;
  // @media screen and (min-width:501px) {
  //   .field.inline & {
  //     margin-left: 25%;
  //   }
  // }
  [class^="icon-"], [class*="icon-"] {
    position: static;
  }
}

.help-text {
  clear: left;
  color: $gray;
  font-weight: 300;
  padding-left: 25%;
  i {
    font-size: 1.2em;
    margin-right: 0.25em;
  }
}

// File Picker
.field-picker {
  @include pie-clearfix;
}
.file-picker {
  float: left;
  width: auto;
  .button {
    position: relative;
    .loading-bar {
      background: $slate;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      top: 0;
      z-index: 1;
      @include border-radius(2px);
    }
    span {
      margin: 0;
      position: relative;
      z-index: 2;
    }
  }
  &.uploaded {
    height: 40px;
    width: 75%;
    @extend .b-block-style;
    .b-block-style {
      background: $slate-light;
    }
    img {
      max-height: 100%;
      max-width: 100%;
      @include border-radius(2px);
    }

    .button {
      background: rgba($slate-light, 0.5);
      line-height: 30px;
      padding: 0 10px;
      margin: 5px 5px 5px 0;
      span {
        padding: 0 20px;
      }
      &:hover, &:focus {
        background: $slate;
        color: $white;
      }
    }
  }
}
.file-name {
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
}
.file-type {
  background: $slate;
  color: $white;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  @include border-radius(2px);
}

// Loading indicator
.loading {
  @include center;
}

// Waiting to retry
.waiting-retry {
  background: #f5f5f5;
  height: 50px;
  position: absolute;
  top: 0;
  width: 100%;
  > div div {
    float: left;
  }
}

// Geosuggest UL overrides
.geosuggest__suggests {
  clear: both;
  margin-left: 25%;
  background: white;
  border: 1px solid $border-light;
  border-top: none;
  padding: $size/4 $size/2;
  li {
    color: $gray;
    cursor: pointer;
    font-weight: 100;
    margin: $size/3 0;
    &:hover, &:focus {
      color: $blue;
    }
  }
}

.geosuggest__suggests--hidden {
  display: none;
}
