//
// Navigation
//

.nav-host {
	a {
		background: $slate;
		color: #fff;
		display: block;
		line-height: 20px;
		padding: .8em 1.6em;
		position: relative;
		text-decoration: none;
		z-index: 2;
		span {
			color: rgba(255,255,255,.6);
		}
		&.active {
			background: darken($slate, 3%);
			// background: $bg-light;
			+ .sub-nav-host {
				display: block;
			}
		}
		&:hover, &:focus {
			background: darken($slate, 5%);
			color: #fff;
			span {
				color: #fff;
			}
		}
	}
	span {
		font-size: 1em;
		margin-left: .85em;
		@media screen and (max-width: 500px) {
			margin-left: .85em;
		}
	}
	i {
		font-size: 18px;
	}
	>ul {
		position: relative;
		z-index: 10;
	}

	@media screen and (max-width: 500px) {
		background: $slate;
		bottom: 0;
		font-size: $size/1.5;
		left: 0;
		position: fixed;
		right: 0;
		top: 50px;
		.sub-nav-host {
			display: block;
			position: static;
			li {
				border: 0;
			}
		}
		li {
			border-bottom: 1px solid rgba(0,0,0,0.05);
		}
		a {
			font-size: $size*0.5;
			line-height: 20px;
			padding: .7em 1.4em;
		}
		i {
			font-size: 15px;
		}
	}

	.collapsed & {

		@media screen and (max-width: 500px) {
			display: none;
		}

		@media screen and (min-width: 501px) {
			a {
				padding-left: 0;
				padding-right: 0;
				text-align: center;
			}

			.sub-nav-host {
				display: block;
				a {
					padding-left: 2em !important;
					text-align: left;
				}
			}
			>ul>li {
				position: relative;
				&:hover, &:focus {
					>a {
						background: darken($slate, 10%);
						color: #fff;
					}
					.sub-nav-host {
						display: block;
						opacity: 1;
						@include translate(0, 0);
					}
				}
			}
		}
	}

	.expanded & {
	}
}

.sub-nav-host {
	text-align: left;
	a {
		color: rgba(255,255,255,.8);
		display: block;
		font-size: .9em;
		padding-left: $size*2.6;
		position: relative;
		text-align: left;
		&:hover, &:focus, &.active {
			background: darken($slate, 7%);
			color: $white;
		}
		&:before {
			content: "\e93c";
			font-family: linearicons;
			font-size: $size * 0.5;
			left: $size * 1.75;
			opacity: 0.3;
			position: absolute;
		}
	}
	@media screen and (max-width: 500px) {
	}
	@media screen and (min-width: 501px) {
		background: darken($slate, 3%);
		display: none;
		a {
			background: darken($slate, 3%);
		}
		.collapsed & {
			right: -$sub-nav;
			position: absolute;
			top: 0;
			width: $sub-nav;
			z-index: 1;
			@include transition(all .75s);
			@include translate(-$sub-nav - $nav, 0);
		}
		.expanded & {
			a {
				position: relative;
				&:before {
					color: rgba($white, .3);
					content: ">";
					left: 3em;
					position: absolute;
				}
			}
		}
	}
}

#launch {
	background: darken($slate, 10%);
	bottom: 0;
	color: #fff;
	display: block;
	font-size: 20px;
	left: 0;
	padding: .8em 1.2em;
	position: absolute;
	right: 0;

	span {
		font-size: 12px;
		margin-left: .5em;
	}
	.collapsed & {
		text-align: center;
	}
	@media screen and (max-width: 500px) {
		display: none;
	}
}
