.notifications {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  max-width: 480px;
  box-sizing: border-box;
  z-index: 99;

  *, *:before, *:after { box-sizing: inherit; }
}

.notification {
  padding: 10px 20px;
  position: relative;
  border-radius: 3px;

  &.notification--success {
    background-color: $green;

    .notification__close {
      background-color: darken($green, 2);

      &:hover {
        background-color: darken($green, 4);
      }
    }
  }

  &.notification--info {
    background-color: $blue;

    .notification__close {
      background-color: darken($blue, 4);

      &:hover {
        background-color: darken($blue, 6);
      }
    }
  }

  &.notification--warning {
    background-color: $orange;

    .notification__close {
      background-color: darken($orange, 5);

      &:hover {
        background-color: darken($orange, 7);
      }
    }
  }

  &.notification--error {
    background-color: $red;

    .notification__close {
      background-color: darken($red, 6);

      &:hover {
        background-color: darken($red, 8);
      }
    }
  }

  &+.notification {
    margin-top: 20px;
  }

  &.notification--closing {
    transition: opacity linear .15s;
    opacity: 0;
  }

}

.notification__close {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 50px;
  border: none;
  color: $white;
  font-size: 18px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  padding: 0;
  line-height: 100%;
}

.notification__text {
  font-size: 13px;
  padding-left: 50px;
  color: $white;
  font-weight: 600;

  a {
    text-decoration: underline;
    color: $white;

    &:hover { color: $white; }
  }

  ul {
    padding-left: 15px;
    list-style: square;
  }
}
