
//
// SUPER SELECT

.sSelect {
  outline: none;
  position: relative;
  @include box-sizing(border-box);
  div, input, span {
    @include box-sizing(border-box);
  }
  span {
    margin: 0;
    font: inherit;
  }
  &.is-disabled {
    > .sSelect-control {
      background-color: #f9f9f9;
      &:hover {
        box-shadow: none;
      }
    }
    .sSelect-arrow-zone {
      cursor: default;
      pointer-events: none;
      opacity: 0.35;
    }
  }
  // refactor
  .b-block-linetext &, .b-block-fieldset & {
    margin: -$size/2 0;
  }
  // refactor
}

.sSelect-control {
  background-color: #fff;
  border: none;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 35px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  @include border-radius(2px);
  &:hover {
    @include box-shadow(rgba(0, 0, 0, 0.06) 0 1px 0)
  }
  .sSelect-input:focus {
    outline: none;
  }
  .b-block-row.editable & {
    height: 36px;
  }
  // refactor
  .b-block-linetext &, .b-block-fieldset & {
    border: none;
    box-shadow: rgba($blue, 0.4) -1px -1px 0 inset;
  }
  .b-blocks-toolbar & {
    height: 38px;
    &.select.small {
      padding-right: 0;
    }
  }
  // refactor
}

.is-open {
  .sSelect-menu-outer {
    display: table;
  }
  > .sSelect-control {
    @include border-bottom-radius(0);
    background: #fff;
    // refactor
    .b-block-linetext &, .b-block-fieldset & {
      z-index: 2;
      position: relative;
    }
    // refactor
  }
}

.is-focused:not(.is-open) > .sSelect-control {
  border-color: #007eff;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1));
}

.sSelect--single > .sSelect-control .sSelect-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 37px;
  max-width: 100%;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
  .b-block-row.editable & {
    line-height: 34px;
  }
}

.has-value.sSelect--single > .sSelect-control .sSelect-value {
  .sSelect-value-label {
    color: #333;
  }
  a.sSelect-value-label {
    cursor: pointer;
    text-decoration: none;
    &:hover, &:focus {
      color: #007eff;
      outline: none;
      text-decoration: underline;
    }
  }
}

.sSelect-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  // This selector should be replaced with "input". Temporary fix to override mdg default form styles.
  // https://monosnap.com/file/3yF8UyVXQWdgdpW6JC1gtAvU7hGE5C
  > textarea, input:not([type="checkbox"]):not([type="number"]):not([type="radio"]):not([type="submit"]):not([type="file"]), input[type="number"] {
    width: 100%;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 14px;
    /* For IE 8 compatibility */
    padding: 8px 0 12px;
    /* For IE 8 compatibility */
    -webkit-appearance: none;
  }
}

.is-focused .sSelect-input > input {
  cursor: text;
}

.sSelect-clear-zone {
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
  @include animation(sSelect-animation-fadeIn 200ms);
  &:hover {
    color: #D0021B;
  }
}

.sSelect-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}

.sSelect-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}

.sSelect-arrow {
  display: none;
}

@-webkit-keyframes sSelect-animation-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes sSelect-animation-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sSelect-menu-outer, .sSelect ul {
  background-color: #fff;
  border: none;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), rgba($blue, 0.4) -1px -1px 0 inset;
  display: none;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  @include border-bottom-radius(2px);
  @include box-sizing(border-box);
}

.sSelect-menu {
  max-height: 198px;
  overflow-y: auto;
}

.sSelect-option {
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
  &:last-child {
    @include border-bottom-radius(2px);
  }
  &.is-selected {
    background-color: #f5faff;
    // Fallback color for IE 8
    background-color: rgba(0, 126, 255, 0.04);
    color: #333;
  }
  &:hover {
    background-color: #ebf5ff;
    // Fallback color for IE 8
    background-color: rgba(0, 126, 255, 0.08);
    color: #333;
  }
  &.is-disabled {
    color: #cccccc;
    cursor: default;
  }
}

.sSelect--columns {
  @media screen and (min-width: 501px) {
    float: left;
    max-width: 400px;
    width: 60%;
  }
  .sSelect-arrow-zone {
    background: rgba($blue, 0.08);
    color: $blue;
    padding-right: 0;
    width: 40px;
  }
  .sSelect-control {
    background: #fff;
    border: none;
    @extend .b-block-style;
  }
  &.has-value.sSelect--single > .sSelect-control .sSelect-value .sSelect-value-label {
    color: $blue;
  }
  .sSelect-value-label {
    img {
      float: left;
      height: 18px;
      margin-top: 10px;
      margin-right: 10px;
    }
  }
  .sSelect-option {
    background: transparent;
    font-size: 12px;
    img {
      height: 17px;
      margin-top: 2px;
      margin-right: 8px;
    }
  }
  .sSelect-menu-outer {
    background: #fff;
    border: none;
    @extend .b-block-style;
  }
}
