
//
// SERVER CONNECTION STATUS

.server-wrapper {
  background: rgba($blue,0.85);
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.server-message {
  font-size: 1em;
  text-align: center;
  @include center;
  p {
    color: #fff;
    font-size: 1.4em;
    margin-bottom: 1.5em;
    &:first-of-type{
      font-size: 2.2em;
      margin-bottom: 0.2em;
    }
  }
  .field {
    font-size: 1.25em;
  }
}
