.uped-file-list {
  background: rgba(0,0,0,0.05);
  border: 1px solid $border-light;

  .flexlist {
      padding: 15px;
      height: auto;
      background: none;
  }

  .uped-file-list__new {
    padding: 15px 15px 0;

    hr {
      background: none;
      border: none;
      border-bottom: 1px solid darken($border-light, 10);
      margin: 15px 0 0;
    }
  }

  .uped-file-list__new-title {
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
  }

  .uped-file-list__head {
    background: none;
    box-shadow: none;
    color: $blue;
    font-weight: bold;
    padding: 10px;

    @media screen and (max-width: $bp-s) {
      display: none;
    }
  }

  .uped-file-list__item {
    align-items: center;
    padding: 10px;

    @media screen and (max-width: $bp-s) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .uped-file-list__name,
  .uped-file-list__job,
  .uped-file-list__status,
  .uped-file-list__summary,
  .uped-file-list__actions {
    white-space: normal;
    overflow: visible;
    padding: 0 5px;

    @media screen and (max-width: $bp-s) {
      padding: 0 0 10px;
      flex-basis: 100%;
    }
  }

  .uped-file-list__name {
    font-weight: bold;
    flex-basis: 20%;
  }

  .uped-file-list__job {
    flex-basis: 20%;
  }

  .uped-file-list__status {
    font-weight: bold;
    flex-basis: 15%;

    .progress-bar {
      max-width: 80%;

      @media screen and (max-width: $bp-s) {
        max-width: 100%;
      }
    }

    &.uped-file-list__status--pending {
      color: $orange;
    }

    &.uped-file-list__status--done {
      color: $green;
    }
  }

  .uped-file-list__summary {
    display: block;
    flex-basis: 35%;

    @media screen and (max-width: $bp-s) {
      padding-top: 12px;
      border-top: 1px solid $border-light;
    }
  }

  .uped-file-list__actions {
    flex-basis: 10%;

    form { width: 100%; }

    .button {
      float: right;
      min-width: 74px;

      @media screen and (max-width: $bp-s) {
        float: none;
      }
    }
  }

  .uped-file-list__summary-row {
    display: inline-block;
    margin: 0 10px 3px 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    &.uped-file-list__summary-row--ok { color: $green; }
    &.uped-file-list__summary-row--warning { color: $orange; }
    &.uped-file-list__summary-row--error { color: $red; }
  }

  .uped-file-list__summary-icon {
    font-weight: bold;
    display: inline-block;
    margin-right: 2px;
  }

}
