
//
// WIDGET GALLERY BLOCKS


// Widget wrapper

.w-blocks {
	position: relative;
}


// Widget block

.w-block {
	background: $slate-light;
	border-radius: 2px;
	box-shadow: rgba($slate, 0.3) 0 -1px 0 inset;
	margin-bottom: $size;
}


// Widget block heading

.w-block-heading {
	background: rgba($slate, 0.7);
	box-shadow: rgba($slate, 0.2) 0 -1px 0 inset;
	color: $white;
	font-size: 1em;
	font-weight: 500;
	letter-spacing: 0.06em;
	padding: $size/3 $size/1.5;
	text-transform: uppercase;
	@include border-top-radius(2px);
	@include box-sizing(border-box);
}


// Widget block list

.w-block-list {
	@extend .horizontal-list;
	@include box-sizing(border-box);
	background: $slate-light;
}


// Widget block item (selected)

.w-block-item {
	@include box-sizing(border-box);
	float: left;
	padding: $size/1.5 $size/1.5;
	position: relative;
	width: 25%;
	@media screen and (max-width: 500px) {
		width: 50%;
	}

	a {
		background: $white;
		box-shadow: rgba($slate, 0.1) 1px 1px 0;
		cursor: pointer;
		display: block;
		padding: 5px;
		@include border-radius(2px);
		@include pie-clearfix;
		&:hover, &:focus, .w-selected & {
			background: rgba($slate, 0.7);
			color: $white;
			span {
				color: $white;
			}
		}
	}
	img {
		float: left;
		width: 100%;
	}
	span {
		display: block;
		float: left;
		padding-top: 4px;
		text-align: center;
		width: 100%;
	}
	&.w-selected {
		font-weight: 400;
		a {
			border-color: rgba($slate, 0.25);
		}
		&:after {
			background: $orange;
			border: 3px solid #fff;
			color: #fff;
			content: "\e934";
			display: block;
			font: bold 1em linearicons;
			font-weight: 400;
			height: 18px;
			line-height: 18px;
			position: absolute;
			right: 5px;
			text-align: center;
			top: 5px;
			width: 18px;
			@include border-radius(50%);
		}
	}
}
