
//
// WIDGET SETTINGS BLOCKS

.w-settings-list {
	@include box-sizing(border-box);
}

// FIXME: @dime please style this properly!
input {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bbb;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #bbb;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #bbb;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #bbb;
  }
}

.w-setting {
	border-bottom: 1px dashed rgba($slate, 0.2);
	clear: both;
	padding: 0.5em;
	@include box-sizing(border-box);
	@include pie-clearfix;
	&:last-child {
		border-bottom: none;
	}
	.field:after {
		right: -3em;
	}
	.label, .input, .select {
		color: $slate;
	}
	.label, .input, .select, .radio-field input[type="radio"] + label span {
		line-height: $size*1.7;
		padding: 0 0.8em;
	}
	.label {
		color: rgba($slate, 0.7);
	}
	.input {
		background: $white;
		box-sizing: border-box;
		width: 100%;
	}
	.input.cell {
		display: table;
		input {
			border: none;
			float: left;
			width: 50%;
		}
		select, span {
			float: right;
			width: 40%;
		}
		span {
			text-align: right;
		}
	}
	@media screen and (max-width:500px) {
		.fourth, .fifth {
			clear: right;
			width: 50%;
		}
	}
}

.w-setting-size:before {
	@extend .icon-expand;
}
.w-setting-color:before {
	@extend .icon-palette;
}
.w-setting-radius:before {
	@extend .icon-vector;
}
.w-setting-border:before {
	@extend .icon-enter-vertical;
}
.w-setting-picture:before {
	@extend .icon-picture;
}
.w-setting-select:before {
	@extend .icon-chevron-down;
}
.w-setting-font:before {
	@extend .icon-text-size;
}
.w-setting-saw:before {
	@extend .icon-saw;
}
[class^="w-setting-"], [class*="w-setting-"] {
	@media screen and (min-width:501px) {
		margin-left: 5px;
	}
	position: relative;
	@include pie-clearfix;
	&:before {
		background: rgba($slate-light, 0.5);
		box-shadow: rgba($slate, 0.4) -1px -1px 0 inset;
		color: rgba($slate, 0.7) !important;
		font-family: linearicons;
		height: 100%;
		line-height: $size*1.7;
		position: absolute;
		right: 0 !important;
		text-align: center;
		top: 0 !important;
		width: $size*1.5;
		z-index: 1;
		@include border-radius(2px);
	}
}

.w-units {
	color: $slate;
	opacity: 0.7;
	position: absolute;
	right: $size*1.7;
	top: $size*0.35;
	&:hover, &:focus {
		opacity: 1;
	}

	//line-height: $size*1.7;
}
span.w-units {
	padding-right: $size/4;
}
