
//
// COMMUNITY WIDGET

@import "shared/shared";
@import "../defaults/community";

.section.community {
	background-color: $x-widgetBackground; color: $x-fontColor;
	font-weight: $w-font-weight; font-size: $x-fontSize; font-family: $x-fontFamily; line-height: $w-line-height;
	height: auto; width: $x-widgetWidth;
	@include box-sizing(border-box);
	@include pie-clearfix;
	@media screen and (min-width:1400px) { font-size: 14px; }
  @media screen and (min-width:1680px) { font-size: 16px; }
  @media screen and (min-width:1920px) { font-size: 18px; }

	h1, h2, h3, h4 { color: $w-text-color; font-weight: 300; text-align: center; }
	h1 { font-size: 3.6em; margin-bottom: 1.2em; }
	h2 { font-size: 2.4em; }
	h3 { font-size: 2em; }
	h4 { font-size: 1.5em; }

	a { color: $w-green; text-decoration: none;
		@include transition(all, 0.4s);
		&:hover, &:focus { color: $x-secondaryColor; }
	}

	.container {
		margin: 0 auto;
		max-width: $x-contentMaxWidth;
		padding: $x-padding*3 0;
		position: relative;
		width: $x-contentWidth;
		@include box-sizing(border-box);
		@include pie-clearfix;
	}

	.column {
		float: left;
		padding: 0 $x-padding;
		width: 50%;
		li {
			margin-bottom: $x-padding*1.5;
			@include pie-clearfix;
		}
	}

	.author {
		float: left;
		text-align: center;
		width: 20%;
	}

	.avatar {
		display: block;
		margin: 0 auto $x-padding/3;
		overflow: hidden;
		@include border-radius(50%);
		img {
			float: left;
			max-width: 100%;
			width: 100%;
		}
	}

	.message {
		background: $x-backgroundColor;
		display: block;
		float: right;
		padding: $x-padding;
		text-align: left;
		width: 75%;
		@include border-radius($w-radius-size);
		h2 {
			color: $x-primaryColor;
			font-size: $x-fontSize*1.5;
			margin-bottom: $x-padding/5;
			text-align: left;
		}
		p {
			margin-bottom: $x-padding*0.75;
		}
		time {
			color: lighten($x-fontColor, 0.5);
		}
	}
}
