//
// FOOTER WIDGET

.w-footer {
	background: $w-black;
	color: $w-white;
	text-align: center;
}

.w-footer--icons {
	@extend .horizontal-inline;
	font-size: 1.5em;
	margin-bottom: $w-size / 2;
	li {
		margin: 0 $w-size / 4;
	}
	a {
		color: $w-white;
	}
}

.w-footer--copyright {
	color: $w-white05;
	font-size: 0.8em;
	line-height: $w-size;
	margin: 0 auto;
	width: 80%;
	@include box-sizing(border-box);
	@media screen and (min-width: 1000px) {
		padding: 0 20%;
	}
}