
//
// NAVIGATION WIDGET DEFAULTS

// Size

$x-padding: $w-size;
$x-widgetWidth: 100%;
$x-contentWidth: 100%;
$x-contentMaxWidth: none;

// Colors

$x-fontColor: $w-primary-color;
$x-widgetBackground: $w-white;
$x-primaryColor: $w-primary-color;
$x-secondaryColor: $w-secondary-color;

// Fonts

$x-fontFamily: $w-font-family;
$x-fontSize: $w-font-size;
$x-headingFont: "open sans";
