
//
// TWITTER TIMELINE

@import "shared/shared";
@import "../defaults/twitter-timeline";

.section.twitter {
	background-color: $x-primaryColor; color: $x-fontColor;
	font-weight: $w-font-weight; font-size: $x-fontSize; font-family: $x-fontFamily; line-height: $w-line-height;
	height: auto; width: $x-widgetWidth;
	@include box-sizing(border-box);
	@include pie-clearfix;
	@media screen and (min-width:1400px) { font-size: 14px; }
  @media screen and (min-width:1680px) { font-size: 16px; }
  @media screen and (min-width:1920px) { font-size: 18px; }

	h1, h2, h3, h4 { color: $w-text-color; font-family: $x-headingFont; font-weight: 300; text-align: center; line-height: 1; }
	h1 { font-size: 3.6em; margin-bottom: 1.2em; }
	h2 { font-size: 2.4em; }
	h3 { font-size: 2em; }
	h4 { font-size: 1.5em; }

	a { color: $w-green; text-decoration: none;
		@include transition(all, 0.4s);
		&:hover, &:focus { color: $x-secondaryColor; }
	}

	.container {
		height: $x-padding*17;
		margin: 0 auto;
		max-width: $x-contentMaxWidth;
		padding-top: $x-padding*3;
		position: relative;
		width: $x-contentWidth;
		@include box-sizing(border-box);
		@include pie-clearfix;
		> div {
			height: 100%;
		}
	}
}
