	
//
// CALL TO ACTIONS


.w-action {

	// Position

	&--top-right {
		display: inline-block;
		@extend .button;
		@media screen and (max-width: 999px) {
			margin: 3em 0 0;
			text-align: center;
		}
		@media screen and (min-width: 1000px) {
		  position: absolute;
		  right: $w-size*1.5;
		  top: $w-size*1.5;
	  }
	}

	// Style

	&--splash {
		color: $w-white;
		font-size: 1.4em;
		font-weight: $w-light;
		padding: 1em 2em;
		@extend .button;
    @media screen and (max-width:500px) {
      font-size: 1.2em;
      padding: 0.8em 1.6em;
    }
	}
	&--text {
		color: $w-gray05;
		@extend .w-action--top-right;
	}
	&--gallery {

	}
	&--people {
		color: $w-gray05;
		@extend .w-action--top-right;
	}
	&--agenda {
		color: $w-white05;
		@extend .w-action--top-right;
	}
	&--community {
		color: $w-gray05;
		@extend .w-action--top-right;
	}
	&--footer {
		color: $w-green;
		margin: 0 0 $w-size*3;
		@extend .button;
	}

	// Pseudo classes

	&:hover, &:focus {
		color: $w-green;
	}
}
