//
// COMMUNITY WIDGET

.w-community {
	background: $w-bg-light;
}

.w-community--column {
	padding: 0 $w-size;
	@extend .half;
	li {
		margin-bottom: $w-size * 1.5;
		@include pie-clearfix;
	}
}

.w-community--author {
	float: left;
	text-align: center;
	width: 20%;
}

.w-community--avatar {
	display: block;
	margin: 0 auto $w-size / 3;
	overflow: hidden;
	@include border-radius(50%);
	img {
		float: left;
		max-width: 100%;
		width: 100%;
	}
}

.w-community--message {
	background: #fff;
	float: right;
	padding: $w-size;
	text-align: left;
	width: 75%;
	@extend .block;
	@include border-radius(2px);
	h2 {
		color: $w-green;
		font-size: 1.5em;
		margin-bottom: 0.4em;
		text-align: left;
	}
	p {
		margin-bottom: 1.5em;
	}
	time {
		color: $w-gray;
	}
}