
//
// CONTACT WIDGET

.w-contact {
	height: $w-size*15;
	@media screen and (max-width:999px) {
		height: $w-size*25;
	}
}

.w-contact--venue {
	height: 100%;
	overflow: hidden;
	@extend .half;
	@media screen and (max-width:999px) {
		height: 50%;
	}
	img {
		min-height: 100%;
		min-width: 100%;
		@include center;
	}
}

.w-contact--details {
	background: rgba($w-green, 0.9);
	color: $w-white;
	height: 100%;
	padding: $w-size;
	position: absolute;
	right: 0;
	text-align: center;
	@extend .third;

	h1 {
		font-size: 1.5em;
		margin: 2em 0 0.5em;
	}
	a {
		color: $w-white;
	}
}

.w-contact--address {
	text-transform: uppercase;
}
.w-contact--list {
	bottom: $w-size;
	left: 0;
	position: absolute;
	width: 100%;
	a {
		@extend .block;
	}
}
.w-contact--phone {
	font-size: 1.2em;
	font-weight: $w-bold;
}
.w-contact--link {}

.w-contact--map {
	height: 100%;
	@extend .half;
	@media screen and (max-width:999px) {
		height: 50%;
	}

	iframe {
		float: left;
		height: 100%;
		min-height: $w-size*10;
		width: 100%;
	}
}
