//
// GALLERY WIDGET

.w-gallery--horizontal {
	height: $w-size*20;
	@extend .horizontal-list;

	li {
		height: 100%;
		overflow: hidden;
		width: 25%
	}

	img {
		float: left;
		min-height: 100%;
		min-width: 100%;
	}

	@media screen and (max-width:999px) {
		li {
			height: 50%;
			width: 50%;
		}
	}
}