//
// LAYOUT & GRID

html, body {
  height: 100%;
}


// Basic grid

.w-container, .full, .row, .half, .third, .twothirds, .fourth, .block {
  display: block;
  position: relative;
  @include box-sizing(border-box);
  @include pie-clearfix;
 }

.full, .row, .half, .third, .twothirds, .fourth, .left {
  float: left;
}
.full, .row, .block {
  width: 100%;
}
.half {
  width: 50%;
}
.third {
  width: 33.3%;
}
.twothirds {
  width: 66.7%;
}
.fourth {
  width: 25%;
}
.right {
	float: right;
}
.block {
  display: block;
  width: 100%;
}
.height-100 {
  height: 100%;
}

// App wrapper
#app {
  @extend .height-100;
  >div, >div>div {
    @extend .height-100;
  }
}

@media screen and (max-width: 999px) {
  .third, .twothirds, .fourth {
    width: 50%;
  }
  .half {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .half, .third, .twothirds, .fourth {
    float: none;
    width: 100%;
  }
}


// Container

.w-container {
  
  .w-header & {
  }
  .w-splash & {
    text-align: center;
    width: 80%;
    @include center;
    @media screen and (min-width: 1000px) {
      max-width: 50%;
    }
  }
  .w-text & {
  }
  .w-gallery & {
  }
  .w-people & {
    padding: $size * 3 10%;
  }
  .w-agenda & {
    padding: $size * 3 5%;
  }
  .w-community & {
    padding: $size * 3 10%;
  }
  .w-contact & {
    height: 100%;
  }
  .w-footer & {
     padding: $size*4 10% $size*3;
  }

  @media screen and (max-width:999px) {
    text-align: center;
  }
}

// Hide all things
.w-hide {
  display: none;
  opacity: 0;
  visibility: hidden;
}