//
// SPLASH

.w-splash {
	background: url("/packages/pathable-styles/images/theme/bg.jpg") no-repeat center #555;
	background-size: cover;
	height: 100%;
	position: relative;
	@include pie-clearfix;
	h1 {
		line-height: 1;
		margin-bottom: 0.75em;
		img {
			max-width: 100%;
			width: 100%;
		}
	}
}

.w-splash--sponsors {
	bottom: $w-size*2;
	height: $w-size*2;
	padding: 0 20%;
	position: absolute;
	text-align: center;
	width: 100%;
	@include box-sizing(border-box);

	span {
		display: inline-block;
		float: left;
		height: 100%;
		position: relative;
		width: 12.5%;
		@include box-sizing(border-box);
	}

	img {
		@include center;
		max-width: 80%;
	}
}

// Presentation hack #remove#

@media screen and (max-width: 600px) {
	.w-splash--sponsors span {
		width: 33.333%;
		&:nth-of-type(n+4) {
			display: none;
		}
	}
}