//
// SINGLE COLUMN TEXT WIDGET

.w-text--single {
	margin: 0 auto;
	padding: $size*4 0;
	text-align: center;
	width: 80%;
  @media screen and (min-width: 1000px) {
    max-width: 40em;
  }
  h1 {
  	margin-bottom: 0.5em;
  }
  p {
  	margin-bottom: 1em;
  	&.large {
  		font-size: 1.25em;
  	}
  }
}
