
//
// PHOTO

@import "shared/shared";
@import "../defaults/photo";

.w-section.w-gallery {
	background-color: $x-widgetBackground; color: $x-fontColor;
	font-weight: $w-font-weight; font-size: $x-fontSize; font-family: $x-fontFamily; line-height: $w-line-height;
	height: auto; width: $x-widgetWidth;
	@include box-sizing(border-box);
	@include pie-clearfix;
	@media screen and (min-width:1400px) { font-size: 14px; }
  @media screen and (min-width:1680px) { font-size: 16px; }
  @media screen and (min-width:1920px) { font-size: 18px; }

	h1, h2, h3, h4 { color: $w-text-color; font-weight: 300; font-family: $x-headingFont; text-align: center; }
	h1 { font-size: 3.6em; margin-bottom: 1.2em; }
	h2 { font-size: 2.4em; }
	h3 { font-size: 2em; }
	h4 { font-size: 1.5em; }

	a { color: $w-green; text-decoration: none;
		@include transition(all, 0.4s);
		&:hover, &:focus { color: $x-secondaryColor; }
	}

	.w-container {
		margin: 0 auto;
		max-width: $x-contentMaxWidth;
		position: relative;
		width: $x-contentWidth;
		@include box-sizing(border-box);
		@include pie-clearfix;
	}

	.w-list {
		height: $x-padding*20;
		@include pie-clearfix;

		li {
			display: inline-block;
			float: left;
			height: 100%;
			overflow: hidden;
			width: 25%
		}

		img {
			float: left;
			min-height: 100%;
			min-width: 100%;
		}
	}
	@media screen and (max-width: $w-tablet - 1px) {
		.w-list {
			li {
				height: 50%;
				width: 50%;
			}
		}
	}
}
