
//
// BUILDING BLOCKS


// Blocks wrapper

.b-blocks {
	font-size: .9em;
	width: 100%;
}


// Block row

.b-block-row {
	margin-bottom: $padding/4;
	@include pie-clearfix;
	&.expanded {
		border: 1px solid $blue;
		> .b-block a {
			color: $blue;
			font-weight: 500;
		}
		.b-block-toggle {
			@include rotate(90deg);
		}
	}
	&.hidden {
		.b-block-content {
			color: $border;
			opacity: 0.5;
		}
		.b-block-display a {
			color: $red;
		}
	}
}


// Block basic style

.b-block-style {
	border: 1px solid $border-light;
	background: #fff;
}

.b-block-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


// Block item

.b-block {
	position: static;
	width: 100%;
	[class*="block-"]:not(.b-block-actions) {
		float: left;
	}
	&:hover, &:focus {
		color: $blue;
		z-index: 1;
		a {
			color: $blue;
		}
		.b-block-style {
			border: 1px solid $border;
		}
		.b-block-actions {
			ul {
				display: block;
			}
			a {
				// padding: 0 $padding / 5;
			}
			span {
				display: none;
			}
		}
	}
	a {
		color: $black;
	}

	&.image {
		float: left;
		padding-right: $padding/2;
		padding-bottom: $padding/2;
		width: 25%;
		@include box-sizing(border-box);
		.b-block-content {
			padding: $padding/1.5;
		}
		.b-block-text {
			p {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			width: 100%;
		}
		.b-block-avatar {
			height: 8em;
			@include border-radius(0);
		}
		.b-block-actions {
			width: 70%;
		}
	}
}

.b-block-sub {
	.b-block-content {
		margin-top: -1px;
	}
}

.b-block-overflow {
	padding: $padding/1.3;
	position: absolute;
	text-align: center;
	width: $padding * 2.7;
	@include box-sizing(border-box);
	a {
		display: block;
	}
}


// Block toggle

.b-block-toggle {
	font-size: 1.25em;
	left: 0;
	@extend .b-block-overflow;
	a {
		display: block;
		position: relative;
	}
}


// Block content

.b-block-content {
	padding: $padding;
	width: 100%;
	@extend .b-block-style;
	@include box-sizing(border-box);
}


// Block drag&drop

.b-block-handle {
	width: 10%;
}


// Block indentation

.b-block-indent {
	color: $gray;
	margin-right: $padding;
	.icon-arrow-divert {
		display: block;
		font-size: $padding/1.4;
		position: relative;
		top: $padding/8;
		@include rotate(45deg);
	}
}


// Block search

.b-block-search {
	i {
		font-size: $padding/1.4;
		line-height: 1;
		padding: $padding;
		position: absolute;
	}
}

// Block content (agenda)

.b-block-time {
	width: 20%;
}

.b-block-text {
	width: 50%;
	@extend .b-block-ellipsis;
}

.b-block-icon a {
	color: $gray;
}

.b-block-doubletext {
	line-height: 1.7;
	margin: -$padding/2 0;
	width: 50%;
	a {
		display: block;
		@extend .b-block-ellipsis;
	}
	span {
		color: $gray;
		font-size: 0.9em;
		font-style: italic;
		display: block;
	}
}


// Block content (people)

.b-block-avatar {
	height: 4em;
	margin: -$padding/1.35;
	margin-right: $padding*1.5;
	overflow: hidden;
	@include border-radius(50%);
	img {
		float: left;
		height: 100%;
		width: auto;
		@include border-radius(50%);
	}
}

.b-block-attendee {
	margin-right: 3em;
	max-width: 30%;
	p {
		@extend .b-block-ellipsis;
	}
}

.b-block-company {
	max-width: 30%;
	a {
		color: $gray05;
	}
}

.b-block-image {
	margin: $padding/2 0 $padding/3;
	overflow: hidden;
	width: 100%;
	img {
		float: left;
		height: $padding*6;
		min-width: 100%;
	}
}


// Block name

.b-block-name {
	width: 40%;
}


// Block actions

.b-block-actions {
	@extend .right;
	width: 20%;
	ul {
		display: none;
		@include horizontal-list;
	}
	ul, span {
		float: right;
	}
	.button {
		float: right;
		margin: -$padding/3 0;
	}
	.icon-cross-circle {
		color: $red;
	}
	.icon-plus-circle {
		color: $green;
	}
}


// Block turn off/on

.b-block-display {
	font-size: 1.25em;
	right: 0;
	@extend .b-block-overflow;
	a {
		color: $green;
		display: block;
		position: relative;
	}
}

// Block widget type

.b-block-wtype {
	height: 4em;
	margin: -$padding/1.35;
	margin-right: $padding*1.5;
	overflow: hidden;
	img {
		float: left;
		height: 100%;
		width: auto;
	}
}