
//
// BUILDING BLOCKS


// Blocks wrapper

.b-blocks {
	font-size: .9em;
	width: 100%;
}


// Block row

.b-block-row {
	margin-bottom: $size/4;
	@include pie-clearfix;
	&.expanded {
		border: 1px solid $blue;
		@include border-radius(3px);
		> .b-block {
			@include border-radius(2px);
			a {
				color: $blue;
				font-weight: 500;
			}
		}
		.b-block-sub .b-block-style {
			@include border-radius(0);
		}
		.b-block-toggle {
			@include rotate(90deg);
		}
	}
	&.hidden {
		.b-block-content {
			color: $border;
			opacity: 0.5;
		}
		.b-block-display a {
			color: $red;
		}
	}
	&.editable {
		.b-block-content {
			border-color: $blue;
			&:hover, &:focus {
				border-color: $blue;
			}
		}
		.b-block-linetext {
			label {
				float: left;
				margin-right: 2%;
				width: 45%;
			}
			input, select {
				width: 100%;
			}
		}
		input, select {
			height: 3.3em;
			line-height: 3.3em;
			margin: -$size/2 0;
			width: 45%;
		}
		button {
			font-size: 0.9em;
			margin: -$size/2 0;
			text-transform: uppercase;
		}
	}
}


// Block basic style

.b-block-style {
	border: 1px solid $border-light;
	background: #fff;
	@include border-radius(2px);
	@include box-shadow($gray05 0 10px 0);
	@include transition(all .4s);
}

.b-block-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


// Block item

.b-block {
	position: static;
	width: 100%;
	@include transition(all .4s);
	[class*="block-"]:not(.b-block-actions) {
		float: left;
	}
	&:hover, &:focus {
		color: $blue;
		z-index: 1;
		a, span {
			color: $blue;
		}
		span {
			opacity: 0.5;
		}
		.b-block-style {
			border: 1px solid rgba($blue,	 0.4);
		}
		.b-block-actions {
			ul {
				display: block;
			}
			span {
				display: none;
			}
		}
	}
	a {
		color: $gray;
	}

	&.image {
		float: left;
		padding-right: $size/2;
		padding-bottom: $size/2;
		width: 25%;
		@include box-sizing(border-box);
		.b-block-content {
			padding: $size/1.5;
		}
		.b-block-text {
			p {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			width: 100%;
		}
		.b-block-avatar {
			height: 8em;
			@include border-radius(0);
		}
		.b-block-actions {
			width: 70%;
		}
	}
}

.b-block-sub {
	.b-block-content {
		margin-top: -1px;
	}
}

.b-block-overflow {
	padding: $size/1.3;
	position: absolute;
	text-align: center;
	width: $size * 2.7;
	@include box-sizing(border-box);
	a {
		display: block;
	}
}


// Block toggle

.b-block-toggle {
	font-size: 1.25em;
	left: 0;
	@extend .b-block-overflow;
	a {
		display: block;
		position: relative;
	}
}


// Block content

.b-block-content {
	padding: $size;
	width: 100%;
	@extend .b-block-style;
	@include box-sizing(border-box);
}


// Block drag&drop

.b-block-handle {
	width: 7%;
}


// Block indentation

.b-block-indent {
	color: $gray;
	margin-right: $size;
	.icon-arrow-divert {
		display: block;
		font-size: $size/1.4;
		position: relative;
		top: $size/8;
		@include rotate(45deg);
	}
}


// Block search

.b-block-search {
	i {
		font-size: $size/1.4;
		line-height: 1;
		padding: $size;
		position: absolute;
	}
}

// Block content (agenda)

.b-block-time {
	width: 20%;
}

.b-block-text {
	width: 50%;
	@extend .b-block-ellipsis;
}

.b-block-icon a {
	color: $gray;
}

.b-block-linetext {
	// margin: -$size/2 0;
	width: 50%;
	a {
		display: block;
		@extend .b-block-ellipsis;
	}
	span {
		color: $gray05;
		font: 1.2em monospace;
		margin-left: $size*2;
	}
}

.b-block-doubletext {
	line-height: 1.7;
	margin: -$size/2 0;
	width: 50%;
	a {
		display: block;
		@extend .b-block-ellipsis;
	}
	span {
		color: $gray;
		font-size: 0.9em;
		font-style: italic;
		display: block;
	}
}

.b-block-linetext, .b-block-doubletext {
	@media screen and (max-width:500px) {
		width: 80%;
	}
}


// Block content (people)

.b-block-avatar {
	height: 4em;
	margin: -$size/1.35;
	margin-right: $size*1.5;
	overflow: hidden;
	@include border-radius(50%);
	img {
		float: left;
		height: 100%;
		width: auto;
		@include border-radius(50%);
	}
}

.b-block-attendee {
	margin-right: 3em;
	max-width: 30%;
	p {
		@extend .b-block-ellipsis;
	}
}

.b-block-company {
	max-width: 30%;
	a {
		color: $gray05;
	}
}

.b-block-image {
	margin: $size/2 0 $size/3;
	overflow: hidden;
	width: 100%;
	img {
		float: left;
		height: $size*6;
		min-width: 100%;
	}
}


// Block name

.b-block-name {
	width: 40%;
}


// Block actions

.b-block-actions {
	@extend .right;
	width: 20%;
	ul {
		display: none;
		@extend .horizontal-list;
	}
	ul, span {
		float: right;
	}
	li {
		padding-left: $size/4;
	}
	.button {
		float: right;
		margin: -$size/3 0;
	}
	.icon-cross-circle {
		color: $red;
	}
	.icon-plus-circle {
		color: $green;
	}
	a {
		display: block;
		line-height: 1.5em;
		text-align: center;
		width: 1.5em;
		@include border-radius(0.75em);
		&:hover, &:focus {
			background: $blue;
			color: #fff;
			@include scale(1.3);
		}
		&:active {
			background: $orange;
		}
		i {
			font-size: 0.9em;
		}
	}
	@media screen and (max-width:500px) {
		clear: both;
		width: 100%;
	}
}


// Block turn off/on

.b-block-display {
	font-size: 1.25em;
	right: 0;
	@extend .b-block-overflow;
	a {
		color: $green;
		display: block;
		position: relative;
	}
}

// Block widget type

.b-block-wtype {
	height: 4em;
	margin: -$size/1.35 0;
	margin-right: $size*1.5;
	overflow: hidden;
	img {
		float: left;
		height: 100%;
		width: auto;
	}
}

// Block device switch

.b-block-devices {
	@include pie-clearfix;
	i {
		float: left;
		font-size: 1.5em;
		margin-left: .5em;
	}
}