//
// OPEN/CLOSE PANELS

#left-close, #right-close {
	position: absolute;
	bottom: 10px;
	.session & {
		display: none;
	}
}

#left-close {
	right: -$padding;
	.icon-chevron-right {
		display: none;
		@media screen and (max-width:500px) {
			&:before {
				content:"\e92b";
			}
		}
	}
	&.open {
		@media screen and (min-width:501px) {
			.icon-chevron-right {
				display: inline;
			}
			.icon-chevron-left {
				display: none;
			}
		}
	}
	@media screen and (max-width:500px) {
		right: $padding/3;
		top: $padding/1.5;

		a {
			display: block;
		}

		.icon-chevron-left, .icon-chevron-right {
			color: $white;
			font-size: $padding * 1.5;
			padding: $padding/4;
			@include box-sizing(border-box);
			&:before {
				display: inline-block;
				content:"\e92b";
			}
		}
	}
}

#right-close {
	left: -$padding * 2;
	.icon-chevron-left {
		display: none;
	}
	&.open {
		.icon-chevron-left {
			display: inline;
		}
		.icon-chevron-right {
			display: none;
		}
	}
}