//
// Header


// Site header

#header-site {
  height: 80px;
  position: relative;
  @include pie-clearfix;

  #logo {
    float: left;
    max-width: 40%;
    padding: 3em;
  }
  @media screen and (max-width: 500px) {
    height: auto;
    #logo {
      max-width: 33.333%;
      padding: 1.4em;
    }
    #nav-toggle {
      display: none;
    }
  }
}

#logo, #nav-toggle {
  display: block;
  @include pie-clearfix;
  img {
    float: left;
    width: 100%;
  }
}

#nav-toggle {
  color: white;
  float: right;
  font-size: 1.8em;
  line-height: 1;
  padding: 1.6em;
}


// Host tools / Admin app header

#header-host {
  background: $blue;
  position: relative;
  z-index: 100;
  #logo {
    background: darken($blue, 10%);
    max-width: 100%;
    @include box-sizing(border-box);
    &.big {
      display: block;
      padding: $size/1.6 $size*2 $size/1.6 $size/1.4;
    }
    &.small {
      display: none;
      opacity: 0.9;
      padding: $size / 2;
    }
    &:hover, &:focus {
      background: darken($blue, 15%);
    }
  }
  i {
    position: relative;
    top: 2px;
  }

  &.collapsed {
    @media screen and (min-width: 501px) {
      text-align: center;
      width: $nav;
      #logo {
        &.big {
          display: none;
        }
        &.small {
          display: block;
        }
      }
      span {
        display: none;
      }
    }
  }

  @media screen and (min-width:501px) {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 200px;
  }
  @media screen and (max-width:500px) {
    background: darken($blue, 10%);
    position: fixed;
    top: 0;
    width: 100%;
    width: 100%;
    #logo.big {
      padding: $size*0.7;
      width: 40%;
    }
  }
}
