//
// RTE OVERRIDES

.rte {
  font: 13px "open sans", "helvetica neue", helvetica, arial, sans-serif !important;
  .field & {
    [class^="icon-"], [class*="icon-"] {
      position: static;
      @include opacity(1);
    }
    select {
      display: block;
      float: none;
      width: auto;
    }
  }
}