//
// RTE OVERRIDES

.rte {
  font: 13px "open sans", "helvetica neue", helvetica, arial, sans-serif !important;
  .field & {
    [class^="icon-"], [class*="icon-"] {
      position: static;
      @include opacity(1);
    }
    select {
      display: block;
      float: none;
      width: auto;
    }
  }
  .toolbar {
    @include pie-clearfix;
    > div {
      float: left;
    }
  }
}

.rte-form {
  .b-block-row.editable & {
    .input, .button {
      margin-top: 0;
      margin-bottom: 0;
    }
    .input-message {
      top: 0;
    }
  }
}
