
//
// SESSION

// Session screens

.session {
  background: url("/img/bg.jpg") no-repeat center;
  background: url("/packages/pathable-styles/images/bg.jpg") no-repeat center;
  background-size: cover;

  a {
    // color: $blue;
    // font-size: 0.9em;
  }
  &.wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }
}

.session-form {
  clear: both;
  margin: 0 auto;
  max-width: 25em;
  width: 100%;
  @include box-sizing(border-box);
  @include pie-clearfix;
  @media screen and (min-width: 501px) {
    @include center;
  }
  form {
    background: rgba(255, 255, 255, 0.9);
    padding: 2em;
    @include border-radius(2px);
    @include pie-clearfix;
  }
  .field {
    clear: both;
    .input-message {
      margin-top: -$size;
      margin-bottom: $size/2;
    }
  }
  h1 {
    color: white;
    margin-bottom: 0.5em;
    text-align: center;
  }
  ul {
    margin-top: 1em;
    text-align: center;
    a {
      color: rgba(255, 255, 255, 0.75);
      &:hover, &:focus {
        color: white;
      }
    }
  }
  .rounded-checkbox {
    margin-bottom: 1.5em;
    span {
      padding-left: 0;
    }
  }
  &.wide {
    margin: 0 auto;
    max-width: 60%;
    @media screen and (max-width:1000px) {
      max-width: 75%;
    }
  }
  .button {
    display: block;
    text-transform: uppercase;
    width: 100%;
    i {
      margin-left: -$size/3;
      margin-right: $size/3;
      position: relative;
      top: -1px;
    }
  }
}

// Template selection

.template {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid $border-light;
  margin-bottom: $size;
  padding: $size/1.5;
  @include border-radius(2px);
  @include box-sizing(border-box);
  @include pie-clearfix;
  @media screen and (min-width:501px) {
    float: left;
    width: 31.33%;
    &:nth-child(3n+2) {
      margin: 0 3%;
    }
  }
  button {
    margin-top: $size;
    &.preview {
      /*@include button(#cccccc);*/
    }
  }
  .session & {
    margin: 0 1%;
  }
}

.template-thumb {
  display: block;
  overflow: hidden;
  max-height: $size*9;
  img {
    max-width: 100%;
    width: 100%;
  }
}
